<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formGroupName="informationStudent">
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="typeSchool" label="Tipo de colegio del que proviene:" [required]="typeSchoolField"></label>
        <p-dropdown
          id="typeSchool"
          formControlName="typeSchool"
          dataKey="id"
          [options]="typeSchools"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Seleccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="typeSchoolField.value">
              <div>{{ typeSchoolField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="typeSchoolField.errors"
          [touched]="typeSchoolField.touched"
          [dirty]="typeSchoolField.dirty">
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="universityCareer" label="En su trayectoria universitaria ha realizado:"
               [required]="universityCareerField"></label>
        <p-dropdown
          id="universityCareer"
          formControlName="universityCareer"
          dataKey="id"
          [options]="universityCareers"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Seleccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="universityCareerField.value">
              <div>{{ universityCareerField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="universityCareerField.errors"
          [touched]="universityCareerField.touched"
          [dirty]="universityCareerField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="isDegreeSuperior" label="¿A más del bachillerato, tiene otro Título?"
               [required]="isDegreeSuperiorField"></label>
        <p-dropdown
          id="isDegreeSuperior"
          formControlName="isDegreeSuperior"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Seleccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isDegreeSuperiorField.value">
              <div>{{ isDegreeSuperiorField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isDegreeSuperiorField.errors"
          [touched]="isDegreeSuperiorField.touched"
          [dirty]="isDegreeSuperiorField.dirty">
        </small>
      </div>
      <div *ngIf="degreeSuperiorField.hasValidator(Validators.required)"
           class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="degreeSuperior" label="¿Qué título posee?:" [required]="degreeSuperiorField"></label>
        <p-dropdown
          id="degreeSuperior"
          formControlName="degreeSuperior"
          dataKey="id"
          [options]="degreeSuperiors"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Seleccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="degreeSuperiorField.value">
              <div>{{ degreeSuperiorField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="degreeSuperiorField.errors"
          [touched]="degreeSuperiorField.touched"
          [dirty]="degreeSuperiorField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label appLabel for="isStudyOtherCareer" label="¿Estudia otra carrera fuera de la Universidad Amawtay Wasi?:"
               [required]="isStudyOtherCareerField"></label>
        <p-dropdown
          id="isStudyOtherCareer"
          formControlName="isStudyOtherCareer"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Seleccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isStudyOtherCareerField.value">
              <div>{{ isStudyOtherCareerField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isStudyOtherCareerField.errors"
          [touched]="isStudyOtherCareerField.touched"
          [dirty]="isStudyOtherCareerField.dirty">
        </small>
      </div>
      <div *ngIf="nameStudyOtherCareerField.hasValidator(Validators.required)"
           class="field xl:col-5 lg:col-5 md:col-5 sm:col-12">
        <label appLabel for="nameStudyOtherCareer" label="Nombre de la Institución:"
               [required]="nameStudyOtherCareerField"></label>
        <input pInputText type="text" id="nameStudyOtherCareer" formControlName="nameStudyOtherCareer" class="mt-3"/>
        <small appErrorMessage
               [errors]="nameStudyOtherCareerField.errors"
               [touched]="nameStudyOtherCareerField.touched"
               [dirty]="nameStudyOtherCareerField.dirty">
        </small>
      </div>
      <div *ngIf="typeStudyOtherCareerField.hasValidator(Validators.required)"
           class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="typeStudyOtherCareer" label="Tipo de Institución:" [required]="typeStudyOtherCareerField"
               class="mb-4"></label>
        <p-dropdown
          id="typeStudyOtherCareer"
          formControlName="typeStudyOtherCareer"
          dataKey="id"
          [options]="typeStudyOtherCareers"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Seleccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="typeStudyOtherCareerField.value">
              <div>{{ typeStudyOtherCareerField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="typeStudyOtherCareerField.errors"
          [touched]="typeStudyOtherCareerField.touched"
          [dirty]="typeStudyOtherCareerField.dirty">
        </small>
      </div>
    </div>
  </div>

  <div class="formgrid grid">
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <button
        pButton
        pRipple
        type="button"
        label="Atrás"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previous.emit(-1)"
      ></button>
    </div>
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <button *ngIf="!form.disabled"
              pButton
              pRipple
              label="Guardar y Continuar"
              [icon]="PrimeIcons.ARROW_RIGHT"
              iconPos="right"></button>

      <button *ngIf="form.disabled"
              pButton
              type="button"
              pRipple
              label="Continuar"
              [icon]="PrimeIcons.ARROW_RIGHT"
              iconPos="right"
              (click)="next.emit()"></button>
    </div>
  </div>
</form>
