<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton 
        pRipple 
        type="button" 
        label="Refrescar" 
        class="p-button-info ml-2" 
        [icon]="PrimeIcons.REFRESH"
        [loading]="coreService.isLoading" 
        (click)="find()">
    </button>
    <button pButton 
        pRipple 
        type="button" 
        label="Descargas" 
        class="p-button-info ml-2" 
        [icon]="PrimeIcons.DOWNLOAD"
        [loading]="coreService.isLoading" 
        (click)="downloadModal()">
    </button>
    <p-dialog [(visible)]="isVisible"
          [modal]="true"
          [style]="{width: '50%'}"
          header="Descargas">
          <app-download></app-download>
    </p-dialog>
  </div>
  <div class="p-toolbar-group-right">
    <p-dropdown [formControl]="selectedSchoolPeriod" 
        dataKey="id" 
        [options]="schoolPeriods" 
        optionLabel="name" 
        placeholder="Seleccionar"
        pTooltip="Periodo Lectivo"
        >
    </p-dropdown>
    <p-dropdown [formControl]="selectedCareer" 
        dataKey="id" 
        [options]="careers" 
        optionLabel="name" 
        placeholder="Seleccionar"
        pTooltip="Carrera"
        >
    </p-dropdown>
    <p-dropdown [formControl]="selectedAcademicPeriod" 
        dataKey="id" 
        [options]="academicPeriods" 
        optionLabel="name" 
        placeholder="Seleccionar"
        pTooltip="Nivel Académico"
        >
    </p-dropdown>
  </div>
</p-toolbar>
<p-paginator [rows]="paginator.limit" 
            [totalRecords]="paginator.totalItems" 
            (onPageChange)="paginate($event)"
            >
</p-paginator>
<p-table dataKey="id" 
        styleClass="p-datatable-striped" 
        [value]="items" 
        [columns]="columns"
        [loading]="coreService.isLoading" 
        [(selection)]="selectedItems">

  <ng-template pTemplate="caption">
    <div class="flex">
      <p>Matriculados:</p>
      <p *ngIf="matriculados && matriculados.length > 0">
        <ul>
          <li *ngFor="let state of matriculados">{{ state }}</li>
        </ul>
        <p *ngIf="matriculados && matriculados.length === 0">No se encontraron estados.</p>

      <p>En Proceso:</p>
      <p *ngIf="enProceso && enProceso.length > 0">
        <ul>
          <li *ngFor="let state of enProceso">{{ state }}</li>
        </ul>
        <p *ngIf="enProceso && enProceso.length === 0">No se encontraron estados.</p>

      <p>Retirados:</p>
      <p *ngIf="retirados && retirados.length > 0">
        <ul>
          <li *ngFor="let state of retirados">{{ state }}</li>
        </ul>
        <p *ngIf="retirados && retirados.length === 0">No se encontraron estados.</p>

      <p>Anulados:</p>
      <p *ngIf="anulados && anulados.length > 0">
        <ul>
          <li *ngFor="let state of anulados">{{ state }}</li>
        </ul>
        <p *ngIf="anulados && anulados.length === 0">No se encontraron estados.</p>

      <div class="p-toolbar-group-right">
        <div class="p-inputgroup">
          <input type="text" 
            pInputText 
            [formControl]="search" 
            placeholder="Buscar...">
          <button pButton 
            pRipple 
            type="button" 
            [icon]="PrimeIcons.SEARCH" 
            [loading]="coreService.isLoading"
            (click)="find()"
            >
          </button>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3rem">
      </th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th class="text-center">
        Acciones
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td *ngFor="let col of columns">
        <!--Objects-->
        <div *ngIf="rowData[col.field]?.id" [ngSwitch]="col.field">
          <div *ngSwitchCase="'student'">
            {{rowData[col.field]?.name}}
          </div>
          <div *ngSwitchCase="'type'">
            {{rowData[col.field]?.name}}
          </div>
          <div *ngSwitchCase="'academicPeriod'">
            {{rowData[col.field].name}}
          </div>
          <div *ngSwitchCase="'parallel'">
            {{rowData[col.field].name}}
          </div>
          <div *ngSwitchCase="'workday'">
            {{rowData[col.field].name}}
          </div>
        </div>

        <!--Fields-->
        <div *ngIf="!rowData[col.field]?.id" [ngSwitch]="col.field">
          <div *ngSwitchCase="'state'">
            <p-tag *ngIf="!rowData[col.field]" severity="danger" value="Inhabilitado" class="mr-1"></p-tag>
            <p-tag *ngIf="rowData[col.field]" severity="success" value="Habilitado" class="mr-1"></p-tag>
          </div>
          <div *ngSwitchCase="'identification'">
            {{rowData['student']?.identification}}
          </div>
          <div *ngSwitchCase="'name'">
            {{rowData['student']?.name}}
          </div>
          <div *ngSwitchDefault>{{rowData[col.field]}}</div>
        </div>
      </td>
      <td class="text-center">
        <button pButton pRipple type="button" [icon]="PrimeIcons.ELLIPSIS_V" (click)="selectItem(rowData)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        {{messageService.paginatorNoRecordsFound}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    {{messageService.paginatorTotalRegisters(paginator.totalItems)}}
  </ng-template>
</p-table>

<p-sidebar [(visible)]="isButtonActions" position="right">
  <p-panelMenu [model]="buttonActions" [style]="{'width':'300px'}" (click)="isButtonActions=false"></p-panelMenu>
</p-sidebar>
