<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formGroupName="informationStudent">
    <div class="field">
      <label appLabel for="pandemicPsychologicalEffect"
             label="¿Qué efectos psicosociales le dejó la pandemia (COVID-19)?:"
             [required]="pandemicPsychologicalEffectField"></label>
      <p-dropdown
        id="pandemicPsychologicalEffect"
        formControlName="pandemicPsychologicalEffect"
        dataKey="id"
        [options]="pandemicPsychologicalEffects"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Seleccione">
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="pandemicPsychologicalEffectField.errors"
        [touched]="pandemicPsychologicalEffectField.touched"
        [dirty]="pandemicPsychologicalEffectField.dirty">
      </small>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="isGenderViolence" label="¿Usted alguna vez ha sido victima de violencia de género?:"
               [required]="isGenderViolenceField"></label>
        <p-dropdown
          id="isGenderViolence"
          formControlName="isGenderViolence"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Seleccione">
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isGenderViolenceField.errors"
          [touched]="isGenderViolenceField.touched"
          [dirty]="isGenderViolenceField.dirty">
        </small>
      </div>
      <div *ngIf="typeGenderViolenceField.hasValidator(Validators.required)"
           class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="typeGenderViolence"
               label="Tipo de violencia:"
               [required]="typeGenderViolenceField"></label>
        <p-dropdown
          id="typeGenderViolence"
          formControlName="typeGenderViolence"
          dataKey="id"
          [options]="typeGenderViolences"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Seleccione">
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="typeGenderViolenceField.errors"
          [touched]="typeGenderViolenceField.touched"
          [dirty]="typeGenderViolenceField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="isInjuries"
               label="¿Alguna vez ha tenido pensamientos o ha intentado hacerse daño o si mismo?:"
               [required]="isInjuriesField"></label>
        <p-dropdown
          id="isInjuries"
          formControlName="isInjuries"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Seleccione">
        </p-dropdown>
        <small appErrorMessage
               [errors]="isInjuriesField.errors"
               [touched]="isInjuriesField.touched"
               [dirty]="isInjuriesField.dirty">
        </small>
      </div>
      <div *ngIf="typeInjuriesField.hasValidator(Validators.required)"
           class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="typeInjuries"
               label="Mencione que tipo de autolesiones:"
               [required]="typeInjuriesField"></label>
        <p-dropdown
          id="typeInjuries"
          formControlName="typeInjuries"
          dataKey="id"
          [options]="typeInjuries"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Seleccione">
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="typeInjuriesField.errors"
          [touched]="typeInjuriesField.touched"
          [dirty]="typeInjuriesField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="isDiscrimination" label="¿Alguna vez ha sido usted objeto de discriminación?:"
               [required]="isDiscriminationField"></label>
        <p-dropdown
          id="isDiscrimination"
          formControlName="isDiscrimination"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Seleccione">
        </p-dropdown>
        <small appErrorMessage
               [errors]="isDiscriminationField.errors"
               [touched]="isDiscriminationField.touched"
               [dirty]="isDiscriminationField.dirty">
        </small>
      </div>
      <div *ngIf="typeDiscriminationField.hasValidator(Validators.required)"
           class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="typeDiscrimination"
               label="En caso de haber sido objeto de discriminación cuál es el motivo:"
               [required]="typeDiscriminationField"></label>
        <p-dropdown
          id="typeDiscrimination"
          formControlName="typeDiscrimination"
          dataKey="id"
          [options]="typeDiscriminations"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Seleccione">
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="typeDiscriminationField.errors"
          [touched]="typeDiscriminationField.touched"
          [dirty]="typeDiscriminationField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="socialGroup" label="¿A qué tribu urbana o grupo social pertenece?:"
               [required]="socialGroupField"></label>
        <p-dropdown
          id="socialGroup"
          formControlName="socialGroup"
          dataKey="id"
          [options]="socialGroups"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Seleccione">
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="socialGroupField.errors"
          [touched]="socialGroupField.touched"
          [dirty]="socialGroupField.dirty">
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="additionalInformation" label="Información adicional del estudiante:"
               [required]="additionalInformationField"></label>
        <input pInputText id="additionalInformation" formControlName="additionalInformation"/>
        <small
          appErrorMessage
          [errors]="additionalInformationField.errors"
          [touched]="additionalInformationField.touched"
          [dirty]="additionalInformationField.dirty">
        </small>
      </div>
    </div>
  </div>
  <button *ngIf="!form.disabled"
    pButton
    pRipple
    class="p-button-success"
    label="Guardar y Continuar a la siguiente sección"
    [icon]="PrimeIcons.ARROW_RIGHT"
    iconPos="right"></button>

  <button *ngIf="form.disabled"
          pButton
          pRipple
          type="button"
          class="p-button-success"
          label="Continuar a la siguiente sección"
          [icon]="PrimeIcons.ARROW_RIGHT"
          iconPos="right"
          (click)="next.emit()"></button>
</form>
