<div class="panel-messages-info">
  <h2>Documentos Requeridos:</h2>
  <ul *ngIf="fileTypes.length">
    <li>
      {{fileTypes[0].name}} <i *ngIf="isIdentificationField.valid" [class]="PrimeIcons.CHECK_CIRCLE"
                               style="color: green"></i>
    </li>
    <li>
      {{fileTypes[1].name}} <i *ngIf="isSocioeconomicFormField.valid" [class]="PrimeIcons.CHECK_CIRCLE"
                               style="color: green"></i>
    </li>
    <li>
      {{fileTypes[2].name}} <i *ngIf="isApplicationField.valid" [class]="PrimeIcons.CHECK_CIRCLE"
                               style="color: green"></i>
    </li>
    <li>
      {{fileTypes[3].name}} <i *ngIf="isPaymentField.value" [class]="PrimeIcons.CHECK_CIRCLE" style="color: green"></i>
    </li>
  </ul>
</div>

<p-divider></p-divider>

<p-panel *ngIf="enrollment">
  <app-file-list
    [acceptAttributes]="'.pdf, image/*'"
    [isDialog]="false"
    [enabled]="isFileListEnabled"
    (isHide)="isFileList=false"
    (selectedType)="isFileList=false"
    [types]="fileTypes"
    [modelId]="enrollment.id"
    (files)="validateFiles($event)">
  </app-file-list>
</p-panel>

<div class="formgrid grid">
  <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
    <button pButton
            type="button"
            class="p-button-warning"
            label="Regresar"
            [icon]="PrimeIcons.ARROW_LEFT"
            iconPos="left"
            (click)="previous()"></button>
  </div>
  <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
    <button *ngIf="isFileListEnabled" pButton pRipple
            class="p-button-success"
            label="Enviar Solicitud"
            [icon]="PrimeIcons.SEND"
            iconPos="right"
            (click)="sendRequest()"></button>
  </div>
</div>
