<div class="p-fluid">
  <div class="formgrid grid">
    <div *ngFor="let subject of subjects" class="panel-messages-info field xl:col-12">
      <h3 class="text-center">
        {{subject.academicPeriod.name}}
      </h3>
      <h3 class="text-center">
        {{subject.name}}
      </h3>
      <p-divider></p-divider>
      <ul>
        <li *ngFor="let subjectRequirement of subject.subjectRequirements">
          {{subjectRequirement.requirement.name}} {{subjectRequirement.type}}
        </li>
      </ul>
      <ng-template pTemplate="footer">
        <p-button label="save" icon="pi pi-check"></p-button>
      </ng-template>
    </div>
  </div>
</div>
