<app-skeleton *ngIf="isLoadingSkeleton" [type]="'card'"></app-skeleton>

<p-panel *ngIf="!isLoadingSkeleton"
         class="p-fluid"
         [expandIcon]="PrimeIcons.TIMES"
         [toggleable]="true"
         (collapsedChange)="back()">
  <ng-template pTemplate="header">
    <i *ngIf="id===''" class="pi pi-institution-plus mr-2"></i>
    <i *ngIf="id!=''" class="pi pi-institution-edit mr-2"></i>
    <h2 class="panel-header">{{panelHeader}}</h2>
  </ng-template>
  <small [innerHTML]="this.messageService.requiredFields"></small>
  <p-divider></p-divider>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
      <label appLabel for="roles" label="Roles:" [required]="rolesField"></label>
      <p-multiSelect id="roles"
                     formControlName="roles"
                     dataKey="id"
                     [options]="roles"
                     display="chip"
                     optionLabel="name"
                     placeholder="Select roles">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="rolesField.value">
            <div>{{rolesField.value.name}}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{item.name}}
        </ng-template>
      </p-multiSelect>
      <small appErrorMessage
             [errors]="rolesField.errors"
             [touched]="rolesField.touched"
             [dirty]="rolesField.dirty">
      </small>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="name" label="Name:" [required]="nameField"></label>
        <input pInputText type="text" id="name" formControlName="name"/>
        <small appErrorMessage
               [errors]="nameField.errors"
               [touched]="nameField.touched"
               [dirty]="nameField.dirty">
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="lastname" label="Lastname:" [required]="lastnameField"></label>
        <input pInputText type="text" id="lastname" formControlName="lastname"/>
        <small appErrorMessage
               [errors]="lastnameField.errors"
               [touched]="lastnameField.touched"
               [dirty]="lastnameField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="institutionname" label="Institutionname:" [required]="institutionnameField"></label>
        <input pInputText type="text" id="institutionname" formControlName="institutionname" pKeyFilter="alphanum"/>
        <small appErrorMessage
               [errors]="institutionnameField.errors"
               [touched]="institutionnameField.touched"
               [dirty]="institutionnameField.dirty">
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="email" label="Email:" [required]="emailField"></label>
        <input pInputText type="email" id="email" formControlName="email"/>
        <small appErrorMessage
               [errors]="emailField.errors"
               [touched]="emailField.touched"
               [dirty]="emailField.dirty">
        </small>
      </div>
    </div>
    <div *ngIf="id!=''" class="field">
      <label for="isChangePassword" class="mr-4">Change Password:</label>
      <p-inputSwitch id="isChangePassword" [formControl]="isChangePassword"
                     (onChange)="handleChangePassword($event)"></p-inputSwitch>
    </div>
    <div class="formgrid grid">
      <div *ngIf="id==='' || isChangePassword.value" class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="password" label="Password:" [required]="passwordField"></label>
        <input pPassword type="password" id="password" formControlName="password" [feedback]="true"/>
        <small appErrorMessage
               [errors]="passwordField.errors"
               [touched]="passwordField.touched"
               [dirty]="passwordField.dirty">
        </small>
      </div>
    </div>
    <div *ngIf="id==='' || isChangePassword.value" class="field">
      <p-checkbox id="passwordChanged" formControlName="passwordChanged"
                  class="mt-2"
                  [binary]="true"
                  label="Require the user to change their password when they log in"></p-checkbox>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button pButton pRipple id="btnBack" type="button"
                label="Cancel"
                class="p-button-info p-button-outlined"
                icon="pi pi-arrow-left"
                [loading]="isLoading"
                (click)="back()"></button>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button pButton pRipple id="submit" type="submit"
                label="Save"
                icon="pi pi-save"
                [loading]="isLoading"></button>
      </div>
    </div>
  </form>
</p-panel>
