<div class="container text-center">
    <div class="grid">
      <div class="col-6">
        <div  class="text-center"style="margin: 0px 0px 0px 200px">
          <img src="assets/images/components/core/common/error-401.png"  alt="No Autorizado" width="500px" height="500px">
        </div>
      </div>
      <div class="col-6">
        <div class="text-center" style="margin: 170px 150px 0px 0px">
          <h1 class="text-danger" style="color:#d9342b ; font-size: 70px;">401 ¡No Autorizado!</h1>
          <br>
          <small class="text-secondary" style="font-size: 20px">¡Credenciales no válidas para la autentiación!</small>
        </div>
      </div>  
    </div> 
</div>
  
