<p-panel class="p-fluid">
  <p-accordion [activeIndex]="activeIndex" (activeIndexChange)="activeIndex=$event">
    <p-accordionTab header="A.- Datos Personales">
      <app-personal-information
        *ngIf="student && enrollment"
        [student]="student"
        [id]="student.id"
        [enrollment]="enrollment"
        (next)="next()">
      </app-personal-information>
    </p-accordionTab>
    <p-accordionTab header="B.- Datos Académicos del Estudiante">
      <app-academic-data
        *ngIf="student"
        [student]="student"
        [id]="student.id"
        (next)="next()"
        (previous)="previous()"
      ></app-academic-data>
    </p-accordionTab>
    <p-accordionTab header="C.- Otros Datos Académicos del Estudiante">
      <app-other-academic-data
        *ngIf="student"
        [student]="student"
        [id]="student.id"
        (next)="next()"
        (previous)="previous()"
      ></app-other-academic-data>
    </p-accordionTab>
    <p-accordionTab header="D.- Lugar de Procedencia">
      <app-origin-place
        *ngIf="student"
        [student]="student"
        [id]="student.id"
        (next)="next()"
        (previous)="previous()">
      </app-origin-place>
    </p-accordionTab>
    <p-accordionTab header="E.- Lugar de Residencia">
      <app-residence-place
        *ngIf="student"
        [student]="student"
        [id]="student.id"
        (next)="next()"
        (previous)="previous()"
      ></app-residence-place>
    </p-accordionTab>
    <p-accordionTab header="F.- Datos del Grupo Familiar">
      <app-family-group
        *ngIf="student"
        [student]="student"
        [id]="student.id"
        (next)="next()"
        (previous)="previous()"
      ></app-family-group>
    </p-accordionTab>
    <p-accordionTab header="G.- Otros Datos Económicos Familiares">
      <app-family-economic
        *ngIf="student"
        [student]="student"
        [id]="student.id"
        (next)="next()"
        (previous)="previous()"
      ></app-family-economic>
    </p-accordionTab>
    <p-accordionTab header="H.- Antecedentes de Salud de la Familia">
      <app-family-health
        *ngIf="student"
        [student]="student"
        [id]="student.id"
        (next)="next()"
        (previous)="previous()"
      ></app-family-health>
    </p-accordionTab>
    <p-accordionTab header="I.- Datos de la Vivienda del Estudiante">
      <app-housing-data
        *ngIf="student"
        [student]="student"
        [id]="student.id"
        (next)="next()"
        (previous)="previous()"
      ></app-housing-data>
    </p-accordionTab>
    <p-accordionTab header="J.- Migración de País">
      <app-migration-country
        *ngIf="student"
        [student]="student"
        [id]="student.id"
        (next)="next()"
        (previous)="previous()"
      ></app-migration-country>
    </p-accordionTab>
    <p-accordionTab header="K.- Sección Psicosocial">
      <app-psychosocial-section *ngIf="student"
                                [student]="student"
                                [id]="student.id"
                                (nextOut)="nextOut.emit(1)"></app-psychosocial-section>
    </p-accordionTab>
  </p-accordion>
</p-panel>
