<form [formGroup]="form">
  <div formGroupName="FamilyData">
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="members"
          label="¿Cuántos integrantes integra su núcleo familiar?"
          [required]="membersField"
        ></label>
        <p-dropdown
          id="members"
          formControlName="members"
          dataKey="id"
          [options]="members"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="membersField.value">
              <div>{{ membersField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="membersField.errors"
          [touched]="membersField.touched"
          [dirty]="membersField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="money"
          label="Total de ingresos mensuales:"
          [required]="moneyField"
        ></label>
        <p-dropdown
          id="money"
          formControlName="money"
          dataKey="id"
          [options]="money"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="moneyField.value">
              <div>{{ moneyField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="moneyField.errors"
          [touched]="moneyField.touched"
          [dirty]="moneyField.dirty"
        >
        </small>
      </div>
    </div>
  </div>
</form>
