@media(min-width: 1000px) {
  .login-form {
    margin-right: 1%;
    margin-left: 65%;
  }
}

.login-form {
  margin-top: 2%;
}

.panel-auth {
  background: rgba(0,0,0,0.1);
  color: #0d3c61;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-image: url('/assets/images/components/auth/background.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
