<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formGroupName="user">
    <div formGroupName="originAddress">
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="country" label="País:" [required]="countryField"></label>
          <p-dropdown
            id="country"
            formControlName="country"
            dataKey="id"
            [options]="countries"
            optionLabel="name"
            [filter]="true"
            (onChange)="changeCoordinates(-0.20122059654071353,-78.4895313136003)"
            filterBy="name"
            placeholder="Seleccione">
          </p-dropdown>
          <small
            appErrorMessage
            [errors]="countryField.errors"
            [touched]="countryField.touched"
            [dirty]="countryField.dirty">
          </small>
        </div>
        <div *ngIf="provinces.length" class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label
            appLabel
            for="province"
            label="Provincia:"
            [required]="provinceField"
          ></label>
          <p-dropdown
            id="province"
            formControlName="province"
            dataKey="id"
            [options]="provinces"
            optionLabel="name"
            [filter]="true"
            (onChange)="changeCoordinates(null,null)"
            filterBy="name"
            placeholder="Seleccione"
          >
            <ng-template pTemplate="selectedItem">
              <div *ngIf="provinceField.value">
                <div>{{ provinceField.value.name }}</div>
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-item>
              {{ item.name }}
            </ng-template>
          </p-dropdown>
          <small
            appErrorMessage
            [errors]="provinceField.errors"
            [touched]="provinceField.touched"
            [dirty]="provinceField.dirty"
          >
          </small>
        </div>
      </div>

      <div class="formgrid grid">
        <div *ngIf="cantons.length" class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label
            appLabel
            for="canton"
            label="Cantón:"
            [required]="cantonField"
          ></label>
          <p-dropdown
            id="canton"
            formControlName="canton"
            dataKey="id"
            [options]="cantons"
            optionLabel="name"
            [filter]="true"
            (onChange)="changeCoordinates(null,null)"
            filterBy="name"
            placeholder="Seleccione"
          >
            <ng-template pTemplate="selectedItem">
              <div *ngIf="cantonField.value">
                <div>{{ cantonField.value.name }}</div>
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-item>
              {{ item.name }}
            </ng-template>
          </p-dropdown>
          <small
            appErrorMessage
            [errors]="cantonField.errors"
            [touched]="cantonField.touched"
            [dirty]="cantonField.dirty"
          >
          </small>
        </div>
        <div *ngIf="parishes.length" class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label
            appLabel
            for="parrish"
            label="Parroquia:"
            [required]="parrishField"
          ></label>
          <p-dropdown
            id="parrish"
            formControlName="parrish"
            dataKey="id"
            [options]="parishes"
            optionLabel="name"
            [filter]="true"
            (onChange)="changeCoordinates(parrishField.value.latitude,parrishField.value.longitude)"
            filterBy="name"
            placeholder="Seleccione">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="parrishField.value">
                <div>{{ parrishField.value.name }}</div>
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-item>
              {{ item.name }}
            </ng-template>
          </p-dropdown>
          <small
            appErrorMessage
            [errors]="parrishField.errors"
            [touched]="parrishField.touched"
            [dirty]="parrishField.dirty"
          >
          </small>
        </div>
      </div>

      <div class="formgrid grid">
        <div class="field xl:col-5 lg:col-5 md:col-5 sm:col-12">
          <label appLabel for="mainStreet" label="Calle Principal:" [required]="mainStreetField"></label>
          <input
            pInputText
            type="text"
            id="mainStreet"
            formControlName="mainStreet"
          />
          <small
            appErrorMessage
            [errors]="mainStreetField.errors"
            [touched]="mainStreetField.touched"
            [dirty]="mainStreetField.dirty"
          >
          </small>
        </div>
        <div class="field xl:col-5 lg:col-5 md:col-5 sm:col-12">
          <label appLabel for="secondaryStreet" label="Calle Intersección:" [required]="secondaryStreetField"></label>
          <input pInputText id="secondaryStreet" formControlName="secondaryStreet"/>
          <small
            appErrorMessage
            [errors]="secondaryStreetField.errors"
            [touched]="secondaryStreetField.touched"
            [dirty]="secondaryStreetField.dirty">
          </small>
        </div>
        <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
          <label appLabel for="number" label="Número de casa:" [required]="numberField"></label>
          <input pInputText type="text" id="number" formControlName="number"/>
          <small
            appErrorMessage
            [errors]="numberField.errors"
            [touched]="numberField.touched"
            [dirty]="numberField.dirty"
          >
          </small>
        </div>
      </div>

      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label
            appLabel
            for="reference"
            label="Referencia la ubicación:"
            [required]="referenceField"
          ></label>
          <input
            pInputText
            type="text"
            id="reference"
            formControlName="reference"
          />
          <small
            appErrorMessage
            [errors]="referenceField.errors"
            [touched]="referenceField.touched"
            [dirty]="referenceField.dirty"
          >
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label
            appLabel
            for="community"
            label="Comunidad de procedencia:"
            [required]="communityField"
          ></label>
          <input
            pInputText
            type="text"
            id="community"
            formControlName="community"
          />
          <small
            appErrorMessage
            [errors]="communityField.errors"
            [touched]="communityField.touched"
            [dirty]="communityField.dirty"
          >
          </small>
        </div>
      </div>

      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label
            appLabel
            for="longitude"
            label="Longitud:"
            [required]="longitudeField"
          ></label>
          <app-help-field (mouseenter)="opLongitudeField.toggle($event)" (mouseleave)="opLongitudeField.hide()"></app-help-field>
          <input pInputText id="longitude" formControlName="longitude" readonly/>
          <small
            appErrorMessage
            [errors]="longitudeField.errors"
            [touched]="longitudeField.touched"
            [dirty]="longitudeField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="latitude" label="Latitud:" [required]="latitudeField"></label>
          <app-help-field (mouseenter)="opLatitudeField.toggle($event)" (mouseleave)="opLatitudeField.hide()"></app-help-field>
          <input pInputText id="latitude" formControlName="latitude" readonly/>
          <small
            appErrorMessage
            [errors]="latitudeField.errors"
            [touched]="latitudeField.touched"
            [dirty]="latitudeField.dirty">
          </small>
        </div>
      </div>

      <app-map *ngIf="latitudeField.value && longitudeField.value"
               map="originPlace"
               [latitudeIn]="latitudeField.value"
               [longitudeIn]="longitudeField.value"
               (latitudeOut)="latitudeField.setValue($event)"
               (longitudeOut)="longitudeField.setValue($event)"></app-map>
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <button
        pButton
        pRipple
        type="button"
        label="Atrás"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previous.emit(-1)"></button>
    </div>
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <button *ngIf="!form.disabled"
              pButton
              pRipple
              label="Guardar y Continuar"
              [icon]="PrimeIcons.ARROW_RIGHT"
              iconPos="right"></button>

      <button *ngIf="form.disabled"
              pButton
              type="button"
              pRipple
              label="Continuar"
              [icon]="PrimeIcons.ARROW_RIGHT"
              iconPos="right"
              (click)="next.emit()"></button>
    </div>
  </div>
</form>

<p-overlayPanel #opLatitudeField>
  <ng-template pTemplate="content">
    <p>La latitud se genera automáticamente cuando cuando seleccione su ubicación en el mapa</p>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #opLongitudeField>
  <ng-template pTemplate="content">
    <p>La longitud se genera automáticamente cuando cuando seleccione su ubicación en el mapa</p>
  </ng-template>
</p-overlayPanel>
