<form [formGroup]="form">
    <div formGroupName="informationStudent">
      <div class="formgrid grid">
        <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
          <label
            appLabel
            for="province"
            label="Provincia, cantón, parroquia y/o comunidad de residencia:"
            [required]="provinceField"
          ></label>
          <input
            pInputText
            type="text"
            id="province"
            formControlName="province"
          />
          <small
            appErrorMessage
            [errors]="provinceField.errors"
            [touched]="provinceField.touched"
            [dirty]="provinceField.dirty"
          >
          </small>
        </div>
        <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
          <label
            appLabel
            for="address"
            label="Dirección domiciliaria de donde reside:"
            [required]="addressField"
          ></label>
          <input
            pInputText
            type="text"
            id="address"
            formControlName="address"
          />
          <small
            appErrorMessage
            [errors]="addressField.errors"
            [touched]="addressField.touched"
            [dirty]="addressField.dirty"
          >
          </small>
        </div>
      </div>
    </div>
  </form>
  
