<div class="login-page">
  <div class="login-form">
    <div class="p-fluid panel-auth">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field text-center">
          <img src="assets/images/logo/logo-sm.png" alt="">
          <h2>{{authService.system}}</h2>
        </div>

        <div class="field">
          <label for="institution" appLabel label="Seleccione su Programa de Estudio:"
                 [required]="institutionField"></label>
          <p-dropdown id="institution"
                      formControlName="institution"
                      dataKey="id"
                      [options]="institutions"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Seleccione...">
          </p-dropdown>
          <small appErrorMessage
                 [errors]="institutionField.errors"
                 [touched]="institutionField.touched"
                 [dirty]="institutionField.dirty">
          </small>
        </div>

        <div *ngIf="careers.length===0 && institutionField.touched" class="field">
          <p-message text="No tiene carreras asignadas para esta institución" severity="error"></p-message>
        </div>
        <div *ngIf="careers.length" class="field">
          <label for="career" appLabel label="Seleccione su Centro del Saber:" [required]="careerField"></label>
          <p-dropdown id="career"
                      formControlName="career"
                      dataKey="id"
                      [options]="careers"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Seleccione...">
          </p-dropdown>
          <small appErrorMessage
                 [errors]="careerField.errors"
                 [touched]="careerField.touched"
                 [dirty]="careerField.dirty">
          </small>
        </div>

        <div class="field">
          <button pButton pRipple
                  label="Continuar"
                  [icon]="PrimeIcons.SIGN_IN"></button>
        </div>

        <div class="field">
          <button pButton pRipple type="button"
                  class="p-button-warning"
                  label="Regresar al login"
                  [icon]="PrimeIcons.ARROW_LEFT"
                  (click)="routesService.login()"></button>
        </div>
      </form>
    </div>
  </div>
</div>

