<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton pRipple type="button"
            label="Crear"
            class="p-button-success"
            [icon]="PrimeIcons.PLUS"
            (click)="redirectCreateForm()">
    </button>

    <button pButton pRipple type="button"
            label="Refrescar"
            class="p-button-info ml-2"
            [icon]="PrimeIcons.REFRESH"
            [loading]="coreService.isLoading"
            (click)="findByModel()">
    </button>

    <button pButton pRipple type="button"
            label="Eliminar Seleccionados"
            class="p-button-danger ml-2"
            [disabled]="selectedItems.length===0"
            [icon]="PrimeIcons.TRASH"
            [loading]="coreService.isLoading"
            (click)="removeAll()">
    </button>
  </div>
  <div class="p-toolbar-group-right">
    <div class="p-inputgroup">
      <input type="text" pInputText [formControl]="search" placeholder="Buscar...">
      <button pButton pRipple type="button"
              [icon]="PrimeIcons.SEARCH"
              [loading]="coreService.isLoading"
              (click)="findByModel()"></button>
    </div>
  </div>
</p-toolbar>

<p-panel>
  <h1>{{model.label}}: {{model.entity?.name}}</h1>
</p-panel>

<p-paginator
  [rows]="paginator.limit"
  [totalRecords]="paginator.totalItems"
  (onPageChange)="paginate($event)">
</p-paginator>

<p-table
  dataKey="id"
  styleClass="p-datatable-striped"
  [value]="items"
  [columns]="columns"
  [loading]="coreService.isLoading"
  [(selection)]="selectedItems">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th class="text-center">
        Acciones
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <td>
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td *ngFor="let col of columns">
        <!--Objects-->
        <div *ngIf="rowData[col.field]?.id" [ngSwitch]="col.field">
          <div *ngSwitchCase="'name'">
            {{rowData[col.field].name}}
          </div>
          <div *ngSwitchCase="'state'">
            <p-tag severity="info" [value]="rowData[col.field].name" class="mr-1"></p-tag>
          </div>
          <div *ngSwitchDefault>{{rowData[col.field]?.as}}</div>
        </div>

        <!--Fields-->
        <div *ngIf="!rowData[col.field]?.id" [ngSwitch]="col.field">
          <div *ngSwitchCase="'startedAt'">
            {{rowData[col.field]|date}}
          </div>
          <div *ngSwitchCase="'endedAt'">
            {{rowData[col.field]|date}}
          </div>
          <div *ngSwitchCase="'isVisible'">
            <p-tag *ngIf="!rowData[col.field]" severity="danger" value="No Visible" class="mr-1"></p-tag>
            <p-tag *ngIf="rowData[col.field]" severity="success" value="Visible" class="mr-1"></p-tag>
          </div>
          <div *ngSwitchDefault>{{rowData[col.field]}}</div>
        </div>
      </td>
      <td class="text-center">
        <button pButton pRipple type="button" [icon]="PrimeIcons.ELLIPSIS_V" (click)="selectItem(rowData)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        {{messageService.paginatorNoRecordsFound}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    {{messageService.paginatorTotalRegisters(paginator.totalItems)}}
  </ng-template>
</p-table>

<p-sidebar [(visible)]="isButtonActions" position="right">
  <p-panelMenu [model]="buttonActions" [style]="{'width':'300px'}" (click)="isButtonActions=false"></p-panelMenu>
</p-sidebar>
