<form [formGroup]="form">
  <div formGroupName="user">
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="identificationType"
          label="Tipo de Identificacion:"
          [required]="identificationTypeField"
        ></label>
        <p-dropdown
          id="identificationType"
          formControlName="identificationType"
          dataKey="id"
          [options]="identificationTypes"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="identificationTypeField.value">
              <div>{{ identificationTypeField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="identificationTypeField.errors"
          [touched]="identificationTypeField.touched"
          [dirty]="identificationTypeField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="identification" label="Identificación:" [required]="identificationField"></label>
        <input
          pInputText
          pKeyFilter="int"
          type="text"
          id="scale"
          formControlName="identification"
          maxlength="10"
        />
        <small appErrorMessage [errors]="identificationField.errors" [touched]="identificationField.touched"
          [dirty]="identificationField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="name" label="Nombre:" [required]="nameField"></label>
        <input pInputText type="text" id="name" formControlName="name" />
        <small appErrorMessage [errors]="nameField.errors" [touched]="nameField.touched"
          [dirty]="nameField.dirty">
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="lastname" label="Apellido:" [required]="lastnameField"></label>
        <input pInputText type="text" id="lastname" formControlName="lastname" />
        <small appErrorMessage [errors]="lastnameField.errors" [touched]="lastnameField.touched"
          [dirty]="lastnameField.dirty">
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="birthdate"
          label="Fecha de Nacimiento:"
          [required]="birthdateField"
        ></label>
        <p-calendar
          id="birthdate"
          formControlName="birthdate"
          dateFormat="yy-mm-dd"
          [showButtonBar]="true"
          [showIcon]="true"
        >
        </p-calendar>
        <small
          appErrorMessage
          [errors]="birthdateField.errors"
          [touched]="birthdateField.touched"
          [dirty]="birthdateField.dirty"
        >
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="cicilState" label="Estado civil:" [required]="cicilStateField"></label>
        <p-dropdown
          id="cicilState"
          formControlName="cicilState"
          dataKey="id"
          [options]="cicilStates"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="cicilStateField.value">
              <div>{{ cicilStateField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="cicilStateField.errors"
          [touched]="cicilStateField.touched"
          [dirty]="cicilStateField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="nationality" label="Nacionalidad:" [required]="nationalityField"></label>
        <input
          pInputText
          type="text"
          id="nationality"
          formControlName="nationality"
        />
        <small appErrorMessage [errors]="nationalityField.errors" [touched]="nationalityField.touched"
          [dirty]="nationalityField.dirty">
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="sex" label="Sexo:" [required]="sexField"></label>
        <p-dropdown
          id="sex"
          formControlName="sex"
          dataKey="id"
          [options]="sexes"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="sexField.value">
              <div>{{ sexField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="sexField.errors"
          [touched]="sexField.touched"
          [dirty]="sexField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="gender"
          label="Género:"
          [required]="genderField"
        ></label>
        <p-dropdown
          id="gender"
          formControlName="gender"
          dataKey="id"
          [options]="genders"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="genderField.value">
              <div>{{ genderField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="genderField.errors"
          [touched]="genderField.touched"
          [dirty]="genderField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="ethnicOrigin"
          label="Autoidentificación:"
          [required]="ethnicOriginField"
        ></label>
        <p-dropdown
          id="ethnicOrigin"
          formControlName="ethnicOrigin"
          dataKey="id"
          [options]="ethnicOrigins"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="ethnicOriginField.value">
              <div>{{ ethnicOriginField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="ethnicOriginField.errors"
          [touched]="ethnicOriginField.touched"
          [dirty]="ethnicOriginField.dirty"
        >
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="nationalityAU"
          label="Nacionalidad Au:"
          [required]="nationalityAUField"
        ></label>
        <p-dropdown
          id="nationalityAU"
          formControlName="nationalityAU"
          dataKey="id"
          [options]="nationalityAUs"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="nationalityAUField.value">
              <div>{{ nationalityAUField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="nationalityAUField.errors"
          [touched]="nationalityAUField.touched"
          [dirty]="nationalityAUField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="townAu"
          label="Pueblo:"
          [required]="townAuField"
        ></label>
        <p-dropdown
          id="townAu"
          formControlName="townAu"
          dataKey="id"
          [options]="nationalityAUs"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="townAuField.value">
              <div>{{ townAuField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="townAuField.errors"
          [touched]="townAuField.touched"
          [dirty]="townAuField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="ancesLanguage"
          label="Lengua ancestral:"
          [required]="ancesLanguageField"
        ></label>
        <p-dropdown
          id="ancesLanguage"
          formControlName="ancesLanguage"
          dataKey="id"
          [options]="nationalityAUs"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="ancesLanguageField.value">
              <div>{{ ancesLanguageField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="ancesLanguageField.errors"
          [touched]="ancesLanguageField.touched"
          [dirty]="ancesLanguageField.dirty"
        >
        </small>
      </div>
    </div>
  </div>
  <div formGroupName="informationStudent">
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="phone" label="Nro Celular:" [required]="phoneField"></label>
        <input
          pInputText
          pKeyFilter="int"
          type="text"
          id="scale"
          formControlName="phone"
          maxlength="10"
          formControlName="phone"
        />
        <small appErrorMessage [errors]="phoneField.errors" [touched]="phoneField.touched"
        [dirty]="phoneField.dirty">
      </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="phone" label="Nro Convencional:" [required]="landinPhoneField"></label>
        <input
          pInputText
          pKeyFilter="int"
          type="text"
          id="scale"
          formControlName="landinPhone"
          maxlength="10"
        />
        <small appErrorMessage [errors]="landinPhoneField.errors" [touched]="landinPhoneField.touched"
        [dirty]="landinPhoneField.dirty">
      </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="email" label="Correo electronico:" [required]="emailField"></label>
        <input pInputText type="email" id="email" formControlName="email"/>
        <small appErrorMessage [errors]="emailField.errors" [touched]="emailField.touched"
        [dirty]="emailField.dirty">
      </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="personalEmail"
          label="Correo electronico Personal:"
          [required]="personalEmailField"
        ></label>
        <input pInputText type="email" id="personalEmail" formControlName="personalEmail"/>
        <small appErrorMessage [errors]="personalEmailField.errors" [touched]="personalEmailField.touched"
        [dirty]="personalEmailField.dirty">
      </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="contactEmergencyPhone" label="Contacto de emergencia:" [required]="contactEmergencyPhoneField"></label>
        <input
          pInputText
          pKeyFilter="int"
          type="text"
          id="scale"
          formControlName="contactEmergencyPhone"
          maxlength="10"
        />
        <small appErrorMessage [errors]="contactEmergencyPhoneField.errors" [touched]="contactEmergencyPhoneField.touched"
          [dirty]="contactEmergencyPhoneField.dirty">
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="contactEmergencyKinship"
          label="Parentesco:"
          [required]="contactEmergencyKinshipField"
        ></label>
        <p-dropdown
          id="contactEmergencyKinship"
          formControlName="contactEmergencyKinship"
          dataKey="id"
          [options]="contactEmergencyKinships"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="contactEmergencyKinshipField.value">
              <div>{{ contactEmergencyKinshipField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="contactEmergencyKinshipField.errors"
          [touched]="contactEmergencyKinshipField.touched"
          [dirty]="contactEmergencyKinshipField.dirty"
        >
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label
          appLabel
          for="doStudent"
          label="El estudiante se ecuentra dedicado a:"
          [required]="doStudentField"
        ></label>
        <p-dropdown
          id="doStudent"
          formControlName="doStudent"
          dataKey="id"
          [options]="doStudents"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="doStudentField.value">
              <div>{{ doStudentField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="doStudentField.errors"
          [touched]="doStudentField.touched"
          [dirty]="doStudentField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label appLabel for="nameE" label="Indique el docimilio de su trabajo:"
          [required]="nameEField"></label>
        <input pInputText type="text" id="nameE" formControlName="nameE" />
        <small appErrorMessage [errors]="nameEField.errors"
          [touched]="nameEField.touched" [dirty]="nameEField.dirty">
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label
          appLabel
          for="doE"
          label="Sueldo mensual:"
          [required]="doEField"
        ></label>
        <p-dropdown
          id="doE"
          formControlName="doE"
          dataKey="id"
          [options]="doStudents"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="doEField.value">
              <div>{{ doEField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="doEField.errors"
          [touched]="doEField.touched"
          [dirty]="doEField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label
          appLabel
          for="doStudent"
          label="Horario de trabajo:"
          [required]="doStudentField"
        ></label>
        <p-dropdown
          id="doStudent"
          formControlName="doStudent"
          dataKey="id"
          [options]="doStudents"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="doStudentField.value">
              <div>{{ doStudentField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="doStudentField.errors"
          [touched]="doStudentField.touched"
          [dirty]="doStudentField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label appLabel for="charge" label="Cargo que desempeña:"
          [required]="chargeField"></label>
        <input pInputText type="text" id="charge" formControlName="charge" />
        <small appErrorMessage [errors]="chargeField.errors"
          [touched]="chargeField.touched" [dirty]="chargeField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label
          appLabel
          for="childrens"
          label="Tienes hijos:"
          [required]="childrensField"
        ></label>
        <p-dropdown
          id="childrens"
          formControlName="childrends"
          dataKey="id"
          [options]="yesno"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="childrensField.value">
              <div>{{ childrensField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="childrensField.errors"
          [touched]="childrensField.touched"
          [dirty]="childrensField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label
          appLabel
          for="manyChil"
          label="Cuantos hijos tiene:"
          [required]="manyChilField"
        ></label>
        <p-dropdown
          id="manyChil"
          formControlName="manyChil"
          dataKey="id"
          [options]="manyChils"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="manyChilField.value">
              <div>{{ manyChilField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="manyChilField.errors"
          [touched]="manyChilField.touched"
          [dirty]="manyChilField.dirty"
        >
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="houseHead"
          label="Es usted jefe de hogar:"
          [required]="houseHeadField"
        ></label>
        <p-dropdown
          id="houseHead"
          formControlName="houseHead"
          dataKey="id"
          [options]="yesno"
          optionLabel="houseHead"
          [filter]="true"
          filterBy="houseHead"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="houseHeadField.value">
              <div>{{ houseHeadField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="houseHeadField.errors"
          [touched]="houseHeadField.touched"
          [dirty]="houseHeadField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="affiliation"
          label="Posee afiliacion al seguro social:"
          [required]="affiliationField"
        ></label>
        <p-dropdown
          id="affiliation"
          formControlName="affiliation"
          dataKey="id"
          [options]="yesno"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="affiliationField.value">
              <div>{{ affiliationField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="affiliationField.errors"
          [touched]="affiliationField.touched"
          [dirty]="affiliationField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="healthInsurance"
          label="Posee seguro de salud Privado:"
          [required]="healthInsuranceField"
        ></label>
        <p-dropdown
          id="healthInsurance"
          formControlName="healthInsurance"
          dataKey="id"
          [options]="yesno"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="healthInsuranceField.value">
              <div>{{ healthInsuranceField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="healthInsuranceField.errors"
          [touched]="healthInsuranceField.touched"
          [dirty]="healthInsuranceField.dirty"
        >
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="isDisability" label="Tiene Discapacidad:" [required]="isDisabilityField"></label>
        <p-dropdown id="isDisability" formControlName="isDisability" dataKey="id" [options]="isDisabilities"
          optionLabel="name" [filter]="true" filterBy="name" placeholder="Select">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isDisabilityField.value">
              <div>{{isDisabilityField.value.name}}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{item.name}}
          </ng-template>
        </p-dropdown>
        <small appErrorMessage [errors]="isDisabilityField.errors" [touched]="isDisabilityField.touched"
          [dirty]="isDisabilityField.dirty">
        </small>
      </div>
      <div  class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="cicilState" label="Tipo de discapacidad:" [required]="disabilityTypeField"></label>
        <p-dropdown
          id="cicilState"
          formControlName="disabilityType"
          dataKey="id"
          [options]="disabilityTypes"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="disabilityTypeField.value">
              <div>{{ disabilityTypeField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="disabilityTypeField.errors"
          [touched]="disabilityTypeField.touched"
          [dirty]="disabilityTypeField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="disabilityPercentage" label="Porcentaje de Discapacidad:"
          [required]="disabilityPercentageField"></label>
        <input pInputText type="number" id="disabilityPercentage" formControlName="disabilityPercentage" />
        <small appErrorMessage [errors]="disabilityPercentageField.errors"
          [touched]="disabilityPercentageField.touched" [dirty]="disabilityPercentageField.dirty">
        </small>
      </div>
    </div>
  </div>
</form>
