<app-skeleton *ngIf="coreService.isLoading" [type]="SkeletonEnum.CARD"></app-skeleton>

<p-panel *ngIf="!coreService.isLoading" class="p-fluid">
  <ng-template pTemplate="header">
  <app-header-form [id]="id" ></app-header-form>
  </ng-template>

  <p-divider></p-divider>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-tabView>
    <!-- User -->
    <p-tabPanel header="Datos personales">
    <div formGroupName="user">
      <div class="formgrid grid">
        <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
          <label appLabel for="identification" label="Identificación:" [required]="identificationField"></label>
          <input pInputText type="number" id="identification" formControlName="identification" />
          <small appErrorMessage
            [errors]="identificationField.errors"
            [touched]="identificationField.touched"
            [dirty]="identificationField.dirty">
          </small>
        </div>
        <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
          <label appLabel for="name" label="Nombre:" [required]="usernameField"></label>
          <input pInputText type="text" id="name" formControlName="name" />
          <small appErrorMessage [errors]="usernameField.errors" [touched]="usernameField.touched"
            [dirty]="usernameField.dirty">
          </small>
        </div>
        <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
          <label appLabel for="lastname" label="Apellido:" [required]="lastnameField"></label>
          <input pInputText type="text" id="lastname" formControlName="lastname" />
          <small appErrorMessage [errors]="lastnameField.errors" [touched]="lastnameField.touched"
            [dirty]="lastnameField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="email" label="Email:" [required]="emailField"></label>
          <input pInputText type="email" id="email" formControlName="email" />
          <small appErrorMessage [errors]="emailField.errors" [touched]="emailField.touched" [dirty]="emailField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="personalEmail" label="Email Personal:" [required]="personalEmailField"></label>
          <input pInputText type="email" id="personalEmail" formControlName="personalEmail" />
          <small appErrorMessage [errors]="personalEmailField.errors" [touched]="personalEmailField.touched"
            [dirty]="personalEmailField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="birthdate" label="Fecha de Nacimiento:" [required]="birthdateField"></label>
          <input pInputText type="date" id="birthdate" formControlName="birthdate"/>
          <small appErrorMessage [errors]="birthdateField.errors" [touched]="birthdateField.touched"
            [dirty]="birthdateField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="phone" label="Número Celular:" [required]="phoneField"></label>
          <input pInputText type="number" id="phone" formControlName="phone"/>
          <small appErrorMessage
                 [errors]="phoneField.errors"
                 [touched]="phoneField.touched"
                 [dirty]="phoneField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="username" label="Nombre de Usuario:" [required]="usernameField"></label>
          <input pInputText type="text" id="username" formControlName="username" />
          <small appErrorMessage [errors]="usernameField.errors" [touched]="usernameField.touched"
            [dirty]="usernameField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="bloodType" label="Tipo de sangre:" [required]="bloodTypeField"></label>
          <p-dropdown id="bloodType" formControlName="bloodType" dataKey="id" [options]="bloodTypes" optionLabel="name"
            [filter]="true" filterBy="name" placeholder="Select">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="bloodTypeField.value">
                <div>{{bloodTypeField.value.name}}</div>
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-item>
              {{item.name}}
            </ng-template>
          </p-dropdown>
          <small appErrorMessage [errors]="bloodTypeField.errors" [touched]="bloodTypeField.touched"
            [dirty]="bloodTypeField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="ethnicOrigin" label="Etnia:" [required]="ethnicOriginField"></label>
          <p-dropdown id="ethnicOrigin" formControlName="ethnicOrigin" dataKey="id" [options]="ethnicOrigins"
            optionLabel="name" [filter]="true" filterBy="name" placeholder="Select">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="ethnicOriginField.value">
                <div>{{ethnicOriginField.value.name}}</div>
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-item>
              {{item.name}}
            </ng-template>
          </p-dropdown>
          <small appErrorMessage [errors]="ethnicOriginField.errors" [touched]="ethnicOriginField.touched"
            [dirty]="ethnicOriginField.dirty">
          </small>
        </div>
      </div>
    </div>
  </p-tabPanel>

    <!-- Information Teacher -->
    <p-tabPanel header="Datos Institucionales">
    <div formGroupName="informationTeacher">
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="academicUnit" label="Nombre de la unidad académica:" [required]="academicUnitField"></label>
          <input pInputText type="text" id="academicUnit" formControlName="academicUnit" />
          <small appErrorMessage [errors]="academicUnitField.errors" [touched]="academicUnitField.touched"
            [dirty]="academicUnitField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="administrativeHours" label="Horas administrativas:"
            [required]="administrativeHoursField"></label>
            <input pInputText type="number" id="administrativeHours" formControlName="administrativeHours"/>
          <small appErrorMessage [errors]="administrativeHoursField.errors" [touched]="administrativeHoursField.touched"
            [dirty]="administrativeHoursField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="classHours" label="Horas de clases:" [required]="classHoursField"></label>
          <input pInputText type="number" id="classHours" formControlName="classHours"/>
          <small appErrorMessage [errors]="classHoursField.errors" [touched]="classHoursField.touched"
            [dirty]="classHoursField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="communityHours" label="Horas comunitarias:" [required]="communityHoursField"></label>
          <input pInputText type="number" id="communityHours" formControlName="communityHours"/>
          <small appErrorMessage [errors]="communityHoursField.errors" [touched]="communityHoursField.touched"
            [dirty]="communityHoursField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="degreeHigherEducation" label="Grado de educación superior:"
            [required]="degreeHigherEducationField"></label>
          <input pInputText type="text" id="degreeHigherEducation" formControlName="degreeHigherEducation" />
          <small appErrorMessage [errors]="degreeHigherEducationField.errors"
            [touched]="degreeHigherEducationField.touched" [dirty]="degreeHigherEducationField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="hoursWorked" label="Horas trabajadas:" [required]="hoursWorkedField"></label>
          <input pInputText type="number" id="hoursWorked" formControlName="hoursWorked"/>
          <small appErrorMessage [errors]="hoursWorkedField.errors" [touched]="hoursWorkedField.touched"
            [dirty]="hoursWorkedField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="holidays" label="Feriado:" [required]="holidaysField"></label>
          <p-calendar id="holidays"
                    formControlName="holidays"
                    dateFormat="yy-mm-dd"
                    [showButtonBar]="true"
                    [firstDayOfWeek]="1">
        </p-calendar>
          <small appErrorMessage [errors]="holidaysField.errors" [touched]="holidaysField.touched"
            [dirty]="holidaysField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="homeVacation" label="Vacaciones:" [required]="homeVacationField"></label>
          <p-calendar id="homeVacation"
                    formControlName="homeVacation"
                    dateFormat="yy-mm-dd"
                    [showButtonBar]="true"
                    [firstDayOfWeek]="1">
        </p-calendar>
          <small appErrorMessage [errors]="homeVacationField.errors" [touched]="homeVacationField.touched"
            [dirty]="homeVacationField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="institutionHigherEducation" label="Nombre de la institución de eduación superior:"
            [required]="institutionHigherEducationField"></label>
          <input pInputText type="text" id="institutionHigherEducation" formControlName="institutionHigherEducation" />
          <small appErrorMessage [errors]="institutionHigherEducationField.errors"
            [touched]="institutionHigherEducationField.touched" [dirty]="institutionHigherEducationField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="investigationHours" label="Horas de investigación:"
            [required]="investigationHoursField"></label>
            <input pInputText type="number" id="investigationHours" formControlName="investigationHours"/>
          <small appErrorMessage [errors]="investigationHoursField.errors" [touched]="investigationHoursField.touched"
            [dirty]="investigationHoursField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="otherHours" label="Horas dedicadas a otras actividades:" [required]="otherHoursField"></label>
          <input pInputText type="number" id="otherHours" formControlName="otherHours"/>
          <small appErrorMessage [errors]="otherHoursField.errors" [touched]="otherHoursField.touched"
            [dirty]="otherHoursField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="publications" label="Publicaciones:" [required]="publicationsField"></label>
          <input pInputText type="text" id="publications" formControlName="publications" />
          <small appErrorMessage [errors]="publicationsField.errors" [touched]="publicationsField.touched"
            [dirty]="publicationsField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="scholarshipAmount" label="Monto de la beca:" [required]="scholarshipAmountField"></label>
          <p-inputNumber formControlName="scholarshipAmount" id="scholarshipAmount" mode="currency" currency="USD"
            locale="en-US"> </p-inputNumber>
          <small appErrorMessage [errors]="scholarshipAmountField.errors" [touched]="scholarshipAmountField.touched"
            [dirty]="scholarshipAmountField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="totalSubjects" label="Materias totales:" [required]="totalSubjectsField"></label>
          <input pInputText type="number" id="totalSubjects" formControlName="totalSubjects"/>
          <small appErrorMessage [errors]="totalSubjectsField.errors" [touched]="totalSubjectsField.touched"
            [dirty]="totalSubjectsField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="technical" label="Técnica a utilizar:" [required]="technicalField"></label>
          <input pInputText type="text" id="technical" formControlName="technical" />
          <small appErrorMessage [errors]="technicalField.errors" [touched]="technicalField.touched"
            [dirty]="technicalField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="technology" label="Tecnología:" [required]="technologyField"></label>
          <input pInputText type="text" id="technology" formControlName="technology" />
          <small appErrorMessage [errors]="technologyField.errors" [touched]="technologyField.touched"
            [dirty]="technologyField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="totalPublications" label="Publicaciones totales:"
            [required]="totalPublicationsField"></label>
            <input pInputText type="number" id="totalPublications" formControlName="totalPublications"/>
          <small appErrorMessage [errors]="totalPublicationsField.errors" [touched]="totalPublicationsField.touched"
            [dirty]="totalPublicationsField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <button pButton pRipple type="button" label="Cancelar" class="p-button-info p-button-outlined"
            [icon]="PrimeIcons.ARROW_LEFT" [loading]="coreService.isLoading" (click)="back()"></button>
        </div>

        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <button
          pButton pRipple
          type="submit"
          label="Guardar"
          [icon]="PrimeIcons.SAVE"
          [loading]="coreService.isLoading"></button>
        </div>
      </div>
    </div>
  </p-tabPanel>
  </p-tabView>
  </form>
</p-panel>
