<form [formGroup]="form">
<div formGroupName="aditionalAcademicData">
  <div class="formgrid grid">
    <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
      <label appLabel for="haveTecnologic" label="¿Usted cuenta con un equipo tecnológico?" [required]="haveTecnologicField"></label>
      <p-dropdown
        id="haveTecnologic"
        formControlName="haveTecnologic"
        dataKey="id"
        [options]="haveTecnologic"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Select"
      >
        <ng-template pTemplate="selectedItem">
          <div *ngIf="haveTecnologicField.value">
            <div>{{ haveTecnologicField.value.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{ item.name }}
        </ng-template>
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="haveTecnologicField.errors"
        [touched]="haveTecnologicField.touched"
        [dirty]="haveTecnologicField.dirty"
      >
      </small>
    </div>
    <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
      <label appLabel for="isInternet" label="Posee cobertura a Internet:" [required]="isInternetField"></label>
      <p-dropdown
        id="isInternet"
        formControlName="isInternet"
        dataKey="id"
        [options]="yesno"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Select"
      >
        <ng-template pTemplate="selectedItem">
          <div *ngIf="isInternetField.value">
            <div>{{ isInternetField.value.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{ item.name }}
        </ng-template>
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="isInternetField.errors"
        [touched]="isInternetField.touched"
        [dirty]="isInternetField.dirty"
      >
      </small>
    </div>
    <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
      <label appLabel for="internetType" label="Tipo de cobertura de internet que utiliza:" [required]="internetTypeField"></label>
      <p-dropdown
        id="internetType"
        formControlName="internetType"
        dataKey="id"
        [options]="internetTpes"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Select"
      >
        <ng-template pTemplate="selectedItem">
          <div *ngIf="internetTypeField.value">
            <div>{{ internetTypeField.value.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{ item.name }}
        </ng-template>
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="internetTypeField.errors"
        [touched]="internetTypeField.touched"
        [dirty]="internetTypeField.dirty"
      >
      </small>
    </div>
  </div>
</div>
</form>
