$color: rgb(23, 48, 74, 29);

.panel-card {
  background: white;
  border: solid 1px $color;
  color: black;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.panel-card-approved {
  border: solid 1px greenyellow;
}

.panel-card-failed {
  border: solid 1px red;
}

.panel-card-pending {
  border: solid 1px yellow;
}
