<app-skeleton *ngIf="coreService.isLoading" [type]="SkeletonEnum.CARD"></app-skeleton>

<p-toolbar *ngIf="!coreService.isLoading">
  <div class="p-toolbar-group-left">
    <app-header-form [id]="id"></app-header-form>
  </div>
  <div class="p-toolbar-group-right">
    <button pButton pRipple type="button"
            (click)="back()"
            [icon]="IconButtonActionEnum.CANCEL"
            [label]="LabelButtonActionEnum.CANCEL"
            [loading]="coreService.isLoading"
            [ngClass]="[ClassButtonActionEnum.CANCEL]"></button>
    <p-divider layout="vertical"></p-divider>
    <button pButton pRipple type="button"
            (click)="onSubmit()"
            [icon]="IconButtonActionEnum.SAVE"
            [label]="LabelButtonActionEnum.SAVE"
            [loading]="coreService.isLoading"
            [ngClass]="[ClassButtonActionEnum.SAVE]"></button>
  </div>
</p-toolbar>

<p-panel *ngIf="!coreService.isLoading" class="p-fluid" [header]="careerField.value?.name">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- code & isVisible -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="isVisible" label="Visible:" [required]="isVisibleField"></label>
        <p-inputSwitch id="isVisible"
                       formControlName="isVisible"
                       [trueValue]="true">
        </p-inputSwitch>
        <small appErrorMessage
               [errors]="isVisibleField.errors"
               [touched]="isVisibleField.touched"
               [dirty]="isVisibleField.dirty">
        </small>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="code" label="Código:" [required]="codeField"></label>
        <input pInputText
               type="text"
               id="code"
               formControlName="code"/>
        <small appErrorMessage
               [errors]="codeField.errors"
               [touched]="codeField.touched"
               [dirty]="codeField.dirty">
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="name" label="Nombre:" [required]="nameField"></label>
        <input pInputText
               type="text"
               id="name"
               formControlName="name"/>
        <small appErrorMessage
               [errors]="nameField.errors"
               [touched]="nameField.touched"
               [dirty]="nameField.dirty">
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="description" label="Descripción:" [required]="descriptionField"></label>
        <input pInputText
               type="text"
               id="description"
               formControlName="description"/>
        <small appErrorMessage
               [errors]="descriptionField.errors"
               [touched]="descriptionField.touched"
               [dirty]="descriptionField.dirty">
        </small>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="resolutionNumber" label="Número Resolución:" [required]="resolutionNumberField"></label>
        <input pInputText
               type="text"
               id="resolutionNumber"
               formControlName="resolutionNumber"/>
        <small appErrorMessage
               [errors]="resolutionNumberField.errors"
               [touched]="resolutionNumberField.touched"
               [dirty]="resolutionNumberField.dirty">
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="periodicAcademicNumber" label="Número de periodo académico:"
               [required]="periodicAcademicNumberField"></label>
        <input pInputText
               type="number"
               id="periodicAcademicNumber"
               formControlName="periodicAcademicNumber"/>
        <small appErrorMessage
               [errors]="periodicAcademicNumberField.errors"
               [touched]="periodicAcademicNumberField.touched" [dirty]="periodicAcademicNumberField.dirty">
        </small>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="weeksNumber" label="Número de semanas:" [required]="weeksNumberField"></label>
        <input pInputText
               type="number"
               id="weeksNumber"
               formControlName="weeksNumber"/>
        <small appErrorMessage
               [errors]="weeksNumberField.errors"
               [touched]="weeksNumberField.touched"
               [dirty]="weeksNumberField.dirty">
        </small>
      </div>
    </div>
  </form>
</p-panel>
