<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formGroupName="informationStudent">
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label appLabel for="isFamilyEmigrant" label="¿Actualmente algún miembro del grupo familiar es emigrante?:"
             [required]="isFamilyEmigrantField"></label>
      <p-dropdown
        id="isFamilyEmigrant"
        formControlName="isFamilyEmigrant"
        dataKey="id"
        [options]="disabilityTypes"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Seleccione">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="isFamilyEmigrantField.value">
            <div>{{ isFamilyEmigrantField.value.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{ item.name }}
        </ng-template>
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="isFamilyEmigrantField.errors"
        [touched]="isFamilyEmigrantField.touched"
        [dirty]="isFamilyEmigrantField.dirty">
      </small>
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <button
        pButton
        pRipple
        type="button"
        label="Atrás"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previous.emit(-1)"></button>
    </div>
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <button *ngIf="!form.disabled"
              pButton
              pRipple
              label="Guardar y Continuar"
              [icon]="PrimeIcons.ARROW_RIGHT"
              iconPos="right"></button>

      <button *ngIf="form.disabled"
              pButton
              type="button"
              pRipple
              label="Continuar"
              [icon]="PrimeIcons.ARROW_RIGHT"
              iconPos="right"
              (click)="next.emit()"></button>
    </div>
  </div>
</form>
