<div class="container text-center">
    <div class="grid">
      <div class="col-6">
        <div  class="text-center"style="margin: 0px 0px 0px 200px">
          <img src="assets/images/components/core/common/error-404.avif"  alt="Página No Encontrada" width="500px" height="500px">
        </div>
      </div>
      <div class="col-6">
        <div class="text-center" style="margin: 170px 150px 0px 0px">
          <h1 class="text-danger" style="color:#183462 ; font-size: 70px;">404 ¡Página No Encontrada!</h1>
          <br>
          <small class="text-secondary" style="font-size: 20px">¡La página solicitada no existe!</small>
        </div>
      </div>  
    </div> 
  </div>
  