<div class="grid">
  <div class="xl:col-12 lg:col-12 md:col-12 sm:col-12">
    <div class="text-center">
      <div>
        <h1 class="text-danger" style="color:#FF82AA ; font-size: 70px;">¡Recurso no encontrado!</h1>
        <small class="text-secondary" style="font-size: 20px">¡Vuelva a intentar!</small>
      </div>
      <img src="assets/images/components/common/404.svg" alt="404" width="400">
    </div>
  </div>
</div>
<div class="grid">
  <div class="col-12 text-center">
    <button pButton pRipple
            label="Regresar"
            class="p-button-lg"
            icon="pi pi-arrow-left"
            (click)="goBack()"></button>
  </div>
</div>
