<button *ngIf="registered"
        pButton
        pRipple
        type="button"
        class="p-button-success"
        label="Continuar a la siguiente sección"
        [icon]="PrimeIcons.ARROW_RIGHT"
        iconPos="right"
        (click)="nextOut.emit()"></button>

<div *ngIf="!isNew && (enrollmentState?.state?.code != CatalogueEnrollmentStateEnum.REGISTERED &&
            enrollmentState?.state?.code != CatalogueEnrollmentStateEnum.REJECTED)"
     class="p-fluid">
  <p-divider></p-divider>
  <div class="grid formgrid">
    <img class="xl:col-10 col-offset-1" src="assets/images/components/enrollments/final-screen.png" alt="">
  </div>
</div>

<p-panel *ngIf="isNew || enrollmentState?.state?.code === CatalogueEnrollmentStateEnum.REGISTERED ||
            enrollmentState?.state?.code === CatalogueEnrollmentStateEnum.REJECTED" class="p-fluid">
  <p-accordion [activeIndex]="activeIndex" (activeIndexChange)="activeIndex=$event">
    <p-accordionTab [disabled]="activeIndex!==0 && activeIndex!=null">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">A.- Datos Personales</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <app-personal-information
          *ngIf="(student && enrollment) || (student && isNew)"
          [student]="student"
          [id]="student.id"
          [enrollment]="enrollment"
          (next)="next()">
        </app-personal-information>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [disabled]="activeIndex!==1">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">B.- Datos Académicos del Estudiante</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <app-academic-data
          *ngIf="student"
          [student]="student"
          [id]="student.id"
          [enrollment]="enrollment"
          (next)="next()"
          (previous)="previous()"
        ></app-academic-data>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [disabled]="activeIndex!==2">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">C.- Otros Datos Académicos del Estudiante</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <app-other-academic-data
          *ngIf="student"
          [student]="student"
          [id]="student.id"
          [enrollment]="enrollment"
          (next)="next()"
          (previous)="previous()"
        ></app-other-academic-data>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [disabled]="activeIndex!==3">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">D.- Lugar de Procedencia</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <app-origin-place
          *ngIf="student"
          [student]="student"
          [id]="student.id"
          [enrollment]="enrollment"
          (next)="next()"
          (previous)="previous()">
        </app-origin-place>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [disabled]="activeIndex!==4">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">E.- Lugar de Residencia</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <app-residence-place
          *ngIf="student"
          [student]="student"
          [id]="student.id"
          [enrollment]="enrollment"
          (next)="next()"
          (previous)="previous()"
        ></app-residence-place>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [disabled]="activeIndex!==5">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">F.- Datos del Grupo Familiar</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <app-family-group
          *ngIf="student"
          [student]="student"
          [id]="student.id"
          [enrollment]="enrollment"
          (next)="next()"
          (previous)="previous()"
        ></app-family-group>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [disabled]="activeIndex!==6">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">G.- Otros Datos Económicos Familiares</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <app-family-economic
          *ngIf="student"
          [student]="student"
          [id]="student.id"
          [enrollment]="enrollment"
          (next)="next()"
          (previous)="previous()"
        ></app-family-economic>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [disabled]="activeIndex!==7">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">H.- Antecedentes de Salud de la Familia</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <app-family-health
          *ngIf="student"
          [student]="student"
          [id]="student.id"
          [enrollment]="enrollment"
          (next)="next()"
          (previous)="previous()"
        ></app-family-health>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [disabled]="activeIndex!==8">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">I.- Datos de la Vivienda del Estudiante</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <app-housing-data
          *ngIf="student"
          [student]="student"
          [id]="student.id"
          [enrollment]="enrollment"
          (next)="next()"
          (previous)="previous()"
        ></app-housing-data>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [disabled]="activeIndex!==9">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">J.- Migración de País</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <app-migration-country
          *ngIf="student"
          [student]="student"
          [id]="student.id"
          [enrollment]="enrollment"
          (next)="next()"
          (previous)="previous()"
        ></app-migration-country>
      </ng-template>
    </p-accordionTab>
    <p-accordionTab [disabled]="activeIndex!==10">
      <ng-template pTemplate="header">
        <div class="flex align-items-center">
          <span class="vertical-align-middle">K.- Sección Psicosocial</span>
          <i *ngIf="registered" [ngClass]="[PrimeIcons.CHECK_CIRCLE,'ml-2']" style="color: green"></i>
        </div>
      </ng-template>

      <ng-template pTemplate="content">
        <app-psychosocial-section *ngIf="student"
                                  [student]="student"
                                  [id]="student.id"
                                  [enrollment]="enrollment"
                                  (next)="nextOut.emit(1)"></app-psychosocial-section>
      </ng-template>
    </p-accordionTab>
  </p-accordion>
</p-panel>
