
<p-panel *ngIf="!coreService.isLoading" class="p-fluid">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-accordion [activeIndex]="activeIndex">
      <p>Index: {{activeIndex}}</p>
      <p-accordionTab header="A.- INFORMACION DEL ESTUDIANTE">
        <app-personal-information-form></app-personal-information-form>
        <button
        pButton
        pRipple
        type="button"
        label="Siguiente"
        class="p-button-info"
        [icon]="PrimeIcons.ARROW_RIGHT"
        (click)="next()"
      ></button>
      </p-accordionTab>
      <p-accordionTab header="B.-DATOS ACADÉMICOS DEL ESTUDIANTE">
        <app-institutional-data-form></app-institutional-data-form>
        <button
        pButton
        pRipple
        type="button"
        label="Atras"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previus()"
      ></button>
      <button
      pButton
      pRipple
      type="button"
      label="Siguiente"
      class="p-button-info"
      [icon]="PrimeIcons.ARROW_RIGHT"
      (click)="next()"
    ></button>
      </p-accordionTab>
      <p-accordionTab header="C.-OTROS DATOS ACADEMICO DEL ESTUDIANTE">
        <app-additional-data-form></app-additional-data-form>
        <button
        pButton
        pRipple
        type="button"
        label="Atras"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previus()"
      ></button>
      <button
      pButton
      pRipple
      type="button"
      label="Siguiente"
      class="p-button-info"
      [icon]="PrimeIcons.ARROW_RIGHT"
      (click)="next()"
    ></button>
      </p-accordionTab>
      <p-accordionTab header="D.- LUGAR DEL PROCEDENCIA">
        <app-place-origin></app-place-origin>
        <button
        pButton
        pRipple
        type="button"
        label="Atras"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previus()"
      ></button>
      <button
      pButton
      pRipple
      type="button"
      label="Siguiente"
      class="p-button-info"
      [icon]="PrimeIcons.ARROW_RIGHT"
      (click)="next()"
    ></button>
      </p-accordionTab>
      <p-accordionTab header="E.- LUGAR DEL RESIDENCIA">
        <app-place-residence></app-place-residence>
        <button
        pButton
        pRipple
        type="button"
        label="Atras"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previus()"
      ></button>
      <button
      pButton
      pRipple
      type="button"
      label="Siguiente"
      class="p-button-info"
      [icon]="PrimeIcons.ARROW_RIGHT"
      (click)="next()"
    ></button>
      </p-accordionTab>
      <p-accordionTab header="F.- DATOS DEL GRUPO FAMILIAR (Todas las personas que conforman el núcleo familiar, a excepción del estudiante).">
        <app-family-group-data></app-family-group-data>
        <button
        pButton
        pRipple
        type="button"
        label="Atras"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previus()"
      ></button>
      <button
      pButton
      pRipple
      type="button"
      label="Siguiente"
      class="p-button-info"
      [icon]="PrimeIcons.ARROW_RIGHT"
      (click)="next()"
    ></button>
      </p-accordionTab> 
      <p-accordionTab header="G.- OTROS DATOS ECONÓMICOS FAMILIARES">
        <app-family-economic-data></app-family-economic-data>
        <button
        pButton
        pRipple
        type="button"
        label="Atras"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previus()"
      ></button>
      <button
      pButton
      pRipple
      type="button"
      label="Siguiente"
      class="p-button-info"
      [icon]="PrimeIcons.ARROW_RIGHT"
      (click)="next()"
    ></button>
      </p-accordionTab>
      <p-accordionTab header="H.- ANTECEDENTES DE SALUD DE LA FAMILIA">
        <app-family-health-ants></app-family-health-ants>
        <button
        pButton
        pRipple
        type="button"
        label="Atras"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previus()"
      ></button>
      <button
      pButton
      pRipple
      type="button"
      label="Siguiente"
      class="p-button-info"
      [icon]="PrimeIcons.ARROW_RIGHT"
      (click)="next()"
    ></button>
      </p-accordionTab>
      <p-accordionTab header="I.- DATOS DE LA VIVIENDA DEL ESTUDIANTE">
        <app-migration-country></app-migration-country>
        <button
        pButton
        pRipple
        type="button"
        label="Atras"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previus()"
      ></button>
      <button
      pButton
      pRipple
      type="button"
      label="Siguiente"
      class="p-button-info"
      [icon]="PrimeIcons.ARROW_RIGHT"
      (click)="next()"
    ></button>
      </p-accordionTab>
      <p-accordionTab header="J.- MIGRACIÓN FUERA DEL PAÍS">
        <div formGroupName="informationStudent">
        <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
          <label appLabel for="cicilState" label="Actualmente algún miembro del grupo familiar es emigrante" [required]="disabilityTypeField"></label>
          <p-dropdown
            id="cicilState"
            formControlName="disabilityType"
            dataKey="id"
            [options]="disabilityTypes"
            optionLabel="name"
            [filter]="true"
            filterBy="name"
            placeholder="Select"
          >
            <ng-template pTemplate="selectedItem">
              <div *ngIf="disabilityTypeField.value">
                <div>{{ disabilityTypeField.value.name }}</div>
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-item>
              {{ item.name }}
            </ng-template>
          </p-dropdown>
          <small
            appErrorMessage
            [errors]="disabilityTypeField.errors"
            [touched]="disabilityTypeField.touched"
            [dirty]="disabilityTypeField.dirty"
          >
          </small>
        </div>
        </div>
        <button
        pButton
        pRipple
        type="button"
        label="Atras"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previus()"
      ></button>
      <button
      pButton
      pRipple
      type="button"
      label="Siguiente"
      class="p-button-info"
      [icon]="PrimeIcons.ARROW_RIGHT"
      (click)="next()"
    ></button>
      </p-accordionTab>
      <p-accordionTab header="K.- SECCIÓN PSICOSOCIAL">
        <app-psychosocial-section></app-psychosocial-section>
        <button
        pButton
        pRipple
        type="button"
        label="Atras"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previus()"
      ></button>
      <button
      pButton
      pRipple
      type="button"
      label="Siguiente"
      class="p-button-info"
      [icon]="PrimeIcons.ARROW_RIGHT"
      (click)="next()"
    ></button>
      </p-accordionTab>
      <p-accordionTab header="L.- CROQUIS/UBICACIÓN GEOGRÁFICA (puede adjuntar la captura de Google maps o dibujar el croquis de su domicilio).">
        <button
        pButton
        pRipple
        type="button"
        label="Atras"
        class="p-button-warning"
        [icon]="PrimeIcons.ARROW_LEFT"
        (click)="previus()"
      ></button>
      <button
      pButton
      pRipple
      type="button"
      label="Siguiente"
      class="p-button-info"
      [icon]="PrimeIcons.ARROW_RIGHT"
      (click)="next()"
    ></button>
      </p-accordionTab>
    </p-accordion>
  </form>
</p-panel>
