<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid">
  <div class="field">
    <label appLabel for="grade1" [label]="'Parcial 1:'" [required]="grade1Field"></label>
    <input pInputText type="number" id="grade1" formControlName="grade1"/>
    <small appErrorMessage
           [errors]="grade1Field.errors"
           [touched]="grade1Field.touched"
           [dirty]="grade1Field.dirty">
    </small>
  </div>

  <div class="field">
    <label appLabel for="grade2" [label]="'Parcial 2:'" [required]="grade2Field"></label>
    <input pInputText type="number" id="grade2" formControlName="grade2"/>
    <small appErrorMessage
           [errors]="grade2Field.errors"
           [touched]="grade2Field.touched"
           [dirty]="grade2Field.dirty">
    </small>
  </div>

  <div class="field">
    <label appLabel for="grade3" [label]="'Parcial 3:'" [required]="grade3Field"></label>
    <input pInputText type="number" id="grade3" formControlName="grade3"/>
    <small appErrorMessage
           [errors]="grade3Field.errors"
           [touched]="grade3Field.touched"
           [dirty]="grade3Field.dirty">
    </small>
  </div>

  <div class="field">
    <label appLabel for="grade4" [label]="'Parcial 4:'" [required]="grade4Field"></label>
    <input pInputText type="number" id="grade4" formControlName="grade4"/>
    <small appErrorMessage
           [errors]="grade4Field.errors"
           [touched]="grade4Field.touched"
           [dirty]="grade4Field.dirty">
    </small>
  </div>
</form>
