<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formGroupName="user" class="formgrid grid">
    <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
      <label appLabel for="identificationType" label="Tipo de documento:"
             [required]="identificationTypeField"></label>
      <p-dropdown
        id="identificationType"
        formControlName="identificationType"
        dataKey="id"
        [options]="identificationTypes"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Selecccione">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="identificationTypeField.value">
            <div>{{ identificationTypeField.value.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{ item.name }}
        </ng-template>
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="identificationTypeField.errors"
        [touched]="identificationTypeField.touched"
        [dirty]="identificationTypeField.dirty">
      </small>
    </div>
    <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
      <label appLabel for="identification" label="Número de documento:" [required]="identificationField"></label>
      <input pInputText id="identification" pKeyFilter="int" formControlName="identification"/>
      <small
        appErrorMessage
        [errors]="identificationField.errors"
        [touched]="identificationField.touched"
        [dirty]="identificationField.dirty">
      </small>
    </div>
    <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
      <label appLabel for="name" label="Nombres:" [required]="nameField"></label>
      <input pInputText id="name" formControlName="name"/>
      <small
        appErrorMessage
        [errors]="nameField.errors"
        [touched]="nameField.touched"
        [dirty]="nameField.dirty">
      </small>
    </div>
    <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
      <label appLabel for="lastname" label="Apellidos:" [required]="lastnameField"></label>
      <input pInputText id="lastname" formControlName="lastname"/>
      <small
        appErrorMessage
        [errors]="lastnameField.errors"
        [touched]="lastnameField.touched"
        [dirty]="lastnameField.dirty">
      </small>
    </div>
  </div>

  <div formGroupName="user" class="formgrid grid">
    <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
      <label appLabel for="birthdate" label="Fecha de nacimiento:" [required]="birthdateField"></label>
      <p-calendar
        id="birthdate"
        formControlName="birthdate"
        dateFormat="yy-mm-dd"
        [showButtonBar]="true"
        [showIcon]="true">
      </p-calendar>
      <small
        appErrorMessage
        [errors]="birthdateField.errors"
        [touched]="birthdateField.touched"
        [dirty]="birthdateField.dirty">
      </small>
    </div>
    <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
      <label appLabel for="cellPhone" label="Número celular:" [required]="cellPhoneField"></label>
      <input pInputText pKeyFilter="int" id="cellPhone" formControlName="cellPhone"/>
      <small
        appErrorMessage
        [errors]="cellPhoneField.errors"
        [touched]="cellPhoneField.touched"
        [dirty]="cellPhoneField.dirty">
      </small>
    </div>
    <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
      <label appLabel for="phone" label="Número convencional:" [required]="phoneField"></label>
      <input pInputText id="phone" pKeyFilter="int" formControlName="phone"/>
      <small
        appErrorMessage
        [errors]="phoneField.errors"
        [touched]="phoneField.touched"
        [dirty]="phoneField.dirty">
      </small>
    </div>
    <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
      <label appLabel for="email" label="Correo electrónico institucional:" [required]="emailField"></label>
      <input pInputText id="email" formControlName="email"/>
      <small
        appErrorMessage
        [errors]="emailField.errors"
        [touched]="emailField.touched"
        [dirty]="emailField.dirty">
      </small>
    </div>
    <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
      <label appLabel for="personalEmail" label="Correo electronico personal:" [required]="personalEmailField"></label>
      <input pInputText id="personalEmail" formControlName="personalEmail"/>
      <small
        appErrorMessage
        [errors]="personalEmailField.errors"
        [touched]="personalEmailField.touched"
        [dirty]="personalEmailField.dirty">
      </small>
    </div>
  </div>

  <div formGroupName="user" class="formgrid grid">
    <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
      <label appLabel for="maritalStatus" label="Estado civil:" [required]="maritalStatusField"></label>
      <p-dropdown
        id="maritalStatus"
        formControlName="maritalStatus"
        dataKey="id"
        [options]="maritalStatus"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Selecccione">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="maritalStatusField.value">
            <div>{{ maritalStatusField.value.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{ item.name }}
        </ng-template>
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="maritalStatusField.errors"
        [touched]="maritalStatusField.touched"
        [dirty]="maritalStatusField.dirty">
      </small>
    </div>
    <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
      <label appLabel for="nationality" label="Nacionalidad:" [required]="nationalityField"></label>
      <p-dropdown
        id="nationality"
        formControlName="nationality"
        dataKey="id"
        [options]="nationalities"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Selecccione">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="maritalStatusField.value">
            <div>{{ nationalityField.value.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{ item.name }}
        </ng-template>
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="nationalityField.errors"
        [touched]="nationalityField.touched"
        [dirty]="nationalityField.dirty">
      </small>
    </div>
    <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
      <label appLabel for="sex" label="Sexo:" [required]="sexField"></label>
      <p-dropdown
        id="sex"
        formControlName="sex"
        dataKey="id"
        [options]="sexes"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Selecccione">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="sexField.value">
            <div>{{ sexField.value.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{ item.name }}
        </ng-template>
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="sexField.errors"
        [touched]="sexField.touched"
        [dirty]="sexField.dirty">
      </small>
    </div>
    <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
      <label appLabel for="gender" label="Género:" [required]="genderField"></label>
      <p-dropdown
        id="gender"
        formControlName="gender"
        dataKey="id"
        [options]="genders"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Selecccione">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="genderField.value">
            <div>{{ genderField.value.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{ item.name }}
        </ng-template>
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="genderField.errors"
        [touched]="genderField.touched"
        [dirty]="genderField.dirty">
      </small>
    </div>
  </div>

  <div class="formgrid grid">
    <div formGroupName="user" class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
      <label appLabel for="ethnicOrigin" [label]="UsersFormEnum.ethnicOrigin+':'" [required]="ethnicOriginField"></label>
      <p-dropdown
        id="ethnicOrigin"
        formControlName="ethnicOrigin"
        dataKey="id"
        [options]="ethnicOrigins"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Selecccione">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="ethnicOriginField.value">
            <div>{{ ethnicOriginField.value.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{ item.name }}
        </ng-template>
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="ethnicOriginField.errors"
        [touched]="ethnicOriginField.touched"
        [dirty]="ethnicOriginField.dirty">
      </small>
    </div>
    <div formGroupName="informationStudent" *ngIf="ethnicOriginField.value?.code===CatalogueEthnicOriginEnum.INDIGENOUS"
         class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
      <label appLabel for="indigenousNationality" label="Nacionalidad indígena:"
             [required]="indigenousNationalityField"></label>
      <p-dropdown
        id="indigenousNationality"
        formControlName="indigenousNationality"
        dataKey="id"
        [options]="indigenousNationalities"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Selecccione">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="indigenousNationalityField.value">
            <div>{{ indigenousNationalityField.value.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{ item.name }}
        </ng-template>
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="indigenousNationalityField.errors"
        [touched]="indigenousNationalityField.touched"
        [dirty]="indigenousNationalityField.dirty">
      </small>
    </div>
    <div formGroupName="informationStudent" *ngIf="ethnicOriginField.value?.code===CatalogueEthnicOriginEnum.INDIGENOUS"
         class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
      <label appLabel for="town" label="Pueblo al que pertenece:" [required]="townField"></label>
      <p-dropdown
        id="town"
        formControlName="town"
        dataKey="id"
        [options]="towns"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        placeholder="Selecccione">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="townField.value">
            <div>{{ townField.value.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
          {{ item.name }}
        </ng-template>
      </p-dropdown>
      <small
        appErrorMessage
        [errors]="townField.errors"
        [touched]="townField.touched"
        [dirty]="townField.dirty">
      </small>
    </div>
  </div>

  <div formGroupName="informationStudent">
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="isAncestralLanguage" label="¿Habla alguna lengua ancestral?:"
               [required]="isAncestralLanguageField"></label>
        <p-dropdown
          id="isAncestralLanguage"
          formControlName="isAncestralLanguage"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isAncestralLanguageField.value">
              <div>{{ isAncestralLanguageField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isAncestralLanguageField.errors"
          [touched]="isAncestralLanguageField.touched"
          [dirty]="isAncestralLanguageField.dirty">
        </small>
      </div>
      <div *ngIf="ancestralLanguageNameField.hasValidator(Validators.required)"
           class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="ancestralLanguageName" label="Indique cuál es la lengua ancestral que habla:"
               [required]="ancestralLanguageNameField"></label>
        <p-dropdown
          id="ancestralLanguageName"
          formControlName="ancestralLanguageName"
          dataKey="id"
          [options]="ancestralLanguageNames"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="ancestralLanguageNameField.value">
              <div>{{ ancestralLanguageNameField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="ancestralLanguageNameField.errors"
          [touched]="ancestralLanguageNameField.touched"
          [dirty]="ancestralLanguageNameField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="isForeignLanguage" label="¿Habla alguna lengua extranjera aparte del español?:"
               [required]="isForeignLanguageField"></label>
        <p-dropdown
          id="isForeignLanguage"
          formControlName="isForeignLanguage"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isForeignLanguageField.value">
              <div>{{ isForeignLanguageField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isForeignLanguageField.errors"
          [touched]="isForeignLanguageField.touched"
          [dirty]="isForeignLanguageField.dirty">
        </small>
      </div>
      <div
        *ngIf="foreignLanguageNameField.hasValidator(Validators.required)"
        class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="foreignLanguageName" label="Seleccione la Lengua Extranjera:"
               [required]="foreignLanguageNameField"></label>
        <p-dropdown
          id="foreignLanguageName"
          formControlName="foreignLanguageName"
          dataKey="id"
          [options]="foreignLanguageNames"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="foreignLanguageNameField.value">
              <div>{{ foreignLanguageNameField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="foreignLanguageNameField.errors"
          [touched]="foreignLanguageNameField.touched"
          [dirty]="foreignLanguageNameField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="contactEmergencyName" label="Nombre de contacto de emergencia:"
               [required]="contactEmergencyNameField"></label>
        <input pInputText id="contactEmergencyName" formControlName="contactEmergencyName"/>
        <small
          appErrorMessage
          [errors]="contactEmergencyNameField.errors"
          [touched]="contactEmergencyNameField.touched"
          [dirty]="contactEmergencyNameField.dirty">
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="contactEmergencyPhone" label="Número de contacto de emergencia:"
               [required]="contactEmergencyPhoneField"></label>
        <input pInputText id="contactEmergencyPhone" pKeyFilter="int" formControlName="contactEmergencyPhone"/>
        <small
          appErrorMessage
          [errors]="contactEmergencyPhoneField.errors"
          [touched]="contactEmergencyPhoneField.touched"
          [dirty]="contactEmergencyPhoneField.dirty">
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="contactEmergencyKinship" label="Parentesco:"
               [required]="contactEmergencyKinshipField"></label>
        <p-dropdown
          id="contactEmergencyKinship"
          formControlName="contactEmergencyKinship"
          dataKey="id"
          [options]="contactEmergencyKinship"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="contactEmergencyKinshipField.value">
              <div>{{ contactEmergencyKinshipField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="contactEmergencyKinshipField.errors"
          [touched]="contactEmergencyKinshipField.touched"
          [dirty]="contactEmergencyKinshipField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
        <label appLabel for="isWork" label="¿El estudiante trabaja?:" [required]="isWorkField"></label>
        <p-dropdown
          id="isWork"
          formControlName="isWork"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isWorkField.value">
              <div>{{ isWorkField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isWorkField.errors"
          [touched]="isWorkField.touched"
          [dirty]="isWorkField.dirty">
        </small>
      </div>
      <div *ngIf="workPositionField.hasValidator(Validators.required)"
           class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label appLabel for="workPosition" label="Cargo que desempeña:" [required]="workPositionField"></label>
        <input pInputText id="workPosition" formControlName="workPosition"/>
        <small
          appErrorMessage
          [errors]="workPositionField.errors"
          [touched]="workPositionField.touched"
          [dirty]="workPositionField.dirty">
        </small>
      </div>
      <div *ngIf="monthlySalaryField.hasValidator(Validators.required)"
           class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
        <label appLabel for="monthlySalary" label="Sueldo mensual:" [required]="monthlySalaryField"></label>
        <p-dropdown
          id="monthlySalary"
          formControlName="monthlySalary"
          dataKey="id"
          [options]="monthlySalaries"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="monthlySalaryField.value">
              <div>{{ monthlySalaryField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="monthlySalaryField.errors"
          [touched]="monthlySalaryField.touched"
          [dirty]="monthlySalaryField.dirty">
        </small>
      </div>
      <div *ngIf="workingHoursField.hasValidator(Validators.required)"
           class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
        <label appLabel for="workingHours" label="Horario de trabajo:" [required]="workingHoursField"></label>
        <p-dropdown
          id="workingHours"
          formControlName="workingHours"
          dataKey="id"
          [options]="workingHours"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="workingHoursField.value">
              <div>{{ workingHoursField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="workingHoursField.errors"
          [touched]="workingHoursField.touched"
          [dirty]="workingHoursField.dirty">
        </small>
      </div>
      <div *ngIf="workAddressField.hasValidator(Validators.required)"
           class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label appLabel for="workAddress" label="Indique la dirección de su trabajo:"
               [required]="workAddressField"></label>
        <input pInputText id="workAddress" formControlName="workAddress"/>
        <small
          appErrorMessage
          [errors]="workAddressField.errors"
          [touched]="workAddressField.touched"
          [dirty]="workAddressField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
        <label appLabel for="isHasChildren" label="¿Tiene hijos?:" [required]="isHasChildrenField"></label>
        <p-dropdown
          id="isHasChildren"
          formControlName="isHasChildren"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isHasChildrenField.value">
              <div>{{ isHasChildrenField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isHasChildrenField.errors"
          [touched]="isHasChildrenField.touched"
          [dirty]="isHasChildrenField.dirty">
        </small>
      </div>
      <div *ngIf="childrenTotalField.hasValidator(Validators.required)"
           class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
        <label appLabel for="childrenTotal" label="¿Cuántos hijos tiene?:" [required]="childrenTotalField"></label>
        <p-inputNumber id="childrenTotal" formControlName="childrenTotal"
                       [max]="20"
                       [min]="0"
                       [showButtons]="true"></p-inputNumber>
        <small
          appErrorMessage
          [errors]="childrenTotalField.errors"
          [touched]="childrenTotalField.touched"
          [dirty]="childrenTotalField.dirty">
        </small>
      </div>
      <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
        <label appLabel for="isHouseHead" label="¿Es usted jefe de hogar?:" [required]="isHouseHeadField"></label>
        <p-dropdown
          id="isHouseHead"
          formControlName="isHouseHead"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isHouseHeadField.value">
              <div>{{ isHouseHeadField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isHouseHeadField.errors"
          [touched]="isHouseHeadField.touched"
          [dirty]="isHouseHeadField.dirty">
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label
          appLabel
          for="isSocialSecurity"
          label="¿Posee afiliación al seguro Social?:"
          [required]="isSocialSecurityField"
        ></label>
        <p-dropdown
          id="isSocialSecurity"
          formControlName="isSocialSecurity"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isSocialSecurityField.value">
              <div>{{ isSocialSecurityField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isSocialSecurityField.errors"
          [touched]="isSocialSecurityField.touched"
          [dirty]="isSocialSecurityField.dirty">
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label appLabel for="isPrivateSecurity" label="¿Posee seguro de salud Privado?:"
               [required]="isPrivateSecurityField"></label>
        <p-dropdown
          id="isPrivateSecurity"
          formControlName="isPrivateSecurity"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isPrivateSecurityField.value">
              <div>{{ isPrivateSecurityField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isPrivateSecurityField.errors"
          [touched]="isPrivateSecurityField.touched"
          [dirty]="isPrivateSecurityField.dirty">
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
        <label appLabel for="isDisability" label="¿Posee algún tipo de discapacidad?:"
               [required]="isDisabilityField"></label>
        <p-dropdown
          id="isDisability"
          formControlName="isDisability"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isDisabilityField.value">
              <div>{{ isDisabilityField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isDisabilityField.errors"
          [touched]="isDisabilityField.touched"
          [dirty]="isDisabilityField.dirty">
        </small>
      </div>
      <div *ngIf="disabilityTypeField.hasValidator(Validators.required)"
           class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
        <label appLabel for="disabilityType" label="Tipo de discapacidad que posee:"
               [required]="disabilityTypeField"></label>
        <p-dropdown
          id="disabilityType"
          formControlName="disabilityType"
          dataKey="id"
          [options]="disabilityTypes"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="disabilityTypeField.value">
              <div>{{ disabilityTypeField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="disabilityTypeField.errors"
          [touched]="disabilityTypeField.touched"
          [dirty]="disabilityTypeField.dirty">
        </small>
      </div>
      <div *ngIf="disabilityPercentageField.hasValidator(Validators.required)"
           class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
        <label appLabel for="disabilityPercentage" label="Porcentaje de discapacidad:"
               [required]="disabilityPercentageField"></label>
        <p-inputNumber id="disabilityPercentage" formControlName="disabilityPercentage"
                       [min]="1"
                       [max]="100"
                       [showButtons]="true"></p-inputNumber>
        <small
          appErrorMessage
          [errors]="disabilityPercentageField.errors"
          [touched]="disabilityPercentageField.touched"
          [dirty]="disabilityPercentageField.dirty">
        </small>
      </div>
      <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
        <label appLabel for="isCatastrophicIllness" label="¿Tiene alguna enfermadad catastrófica?:"
               [required]="isCatastrophicIllnessField"></label>
        <p-dropdown
          id="isCatastrophicIllness"
          formControlName="isCatastrophicIllness"
          dataKey="id"
          [options]="yesNo"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Selecccione">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isCatastrophicIllnessField.value">
              <div>{{ isCatastrophicIllnessField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isCatastrophicIllnessField.errors"
          [touched]="isCatastrophicIllnessField.touched"
          [dirty]="isCatastrophicIllnessField.dirty">
        </small>
      </div>
      <div *ngIf="catastrophicIllnessField.hasValidator(Validators.required)"
           class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="catastrophicIllness" label="Indique qué enfermedad catastrófica posee:"
               [required]="catastrophicIllnessField"></label>
        <input pInputText id="catastrophicIllness" formControlName="catastrophicIllness" class="mt-3"/>
        <small
          appErrorMessage
          [errors]="catastrophicIllnessField.errors"
          [touched]="catastrophicIllnessField.touched"
          [dirty]="catastrophicIllnessField.dirty">
        </small>
      </div>
    </div>
  </div>

  <button *ngIf="!form.disabled"
          pButton
          pRipple
          label="Guardar y Continuar"
          [icon]="PrimeIcons.ARROW_RIGHT"
          iconPos="right"></button>

  <button *ngIf="form.disabled"
          pButton
          type="button"
          pRipple
          label="Continuar"
          [icon]="PrimeIcons.ARROW_RIGHT"
          iconPos="right"
          (click)="next.emit()"></button>
</form>
