<p-panel class="p-fluid">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="formgrid grid">
            <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
                <p-dropdown id="period" formControlName="period" dataKey="id" optionLabel="name" [filter]="true"
                    filterBy="name" placeholder="Seleccione..." [options]="periodList">
                </p-dropdown>
            </div>
            <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
                <div class="p-inputgroup">
                    <input type="number" pInputText placeholder="Buscar...">
                    <button type="button" pButton pRipple [class]="PrimeIcons.SEARCH"></button>
                </div>
            </div>
        </div>
        <div class="field xl:col-2 lg:col-6 md:col-6 sm:col-12">
            <button type="button" pButton pRipple class="p-button-success" label="Descargar Reporte"
                (click)="loadStates()"></button>
        </div>
    </form>

    <div class="container">
        <div class="row" id="title">
            <h2>Asignaturas</h2>
        </div>
        <div class="header">
            <img src="../../../../../assets/images/logo/logo - Copy.png" width="150px" height="100">
        </div>
        <table>
            <thead>
                <tr>
                    <th>CÓDIGO</th>
                    <th>ASIGNATURA</th>
                    <th>PERIODO</th>
                    <th>NUMERO MATRICULA</th>
                    <th>JORNADA</th>
                    <th>HORARIO DOCENTES</th>
                    <th>H. PRACTICAS</th>
                    <th>H.AUTONOMAS</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Codigo1</td>
                    <td>Asignatura 1</td>
                    <td>Periodo 1</td>
                    <td>123</td>
                    <td>Mañana</td>
                    <td>8:00 - 10:00</td>
                    <td>2</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Codigo1</td>
                    <td>Asignatura 1</td>
                    <td>Periodo 1</td>
                    <td>123</td>
                    <td>Mañana</td>
                    <td>8:00 - 10:00</td>
                    <td>2</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Codigo1</td>
                    <td>Asignatura 1</td>
                    <td>Periodo 1</td>
                    <td>123</td>
                    <td>Mañana</td>
                    <td>8:00 - 10:00</td>
                    <td>2</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Codigo1</td>
                    <td>Asignatura 1</td>
                    <td>Periodo 1</td>
                    <td>123</td>
                    <td>Mañana</td>
                    <td>8:00 - 10:00</td>
                    <td>2</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Codigo1</td>
                    <td>Asignatura 1</td>
                    <td>Periodo 1</td>
                    <td>123</td>
                    <td>Mañana</td>
                    <td>8:00 - 10:00</td>
                    <td>2</td>
                    <td>4</td>
                </tr>

            </tbody>
             
        </table>
    </div>
</p-panel>