<form [formGroup]="form">
  <div formGroupName="institutionalData">
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="career"
          label="Carrera:"
          [required]="carrerField"
        ></label>
        <input
          pInputText
          id="carrerField"
          formControlName="career"
        />
        <small
          appErrorMessage
          [errors]="carrerField.errors"
          [touched]="carrerField.touched"
          [dirty]="carrerField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="academiCycle"
          label="Ciclo academico:"
          [required]="academiCycleField"
        ></label>
        <p-dropdown
          id="academiCycle"
          formControlName="academiCycle"
          dataKey="id"
          [options]="academiCycles"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="academiCycleField.value">
              <div>{{ academiCycleField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="academiCycleField.errors"
          [touched]="academiCycleField.touched"
          [dirty]="academiCycleField.dirty"
        >
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="lostSubject"
          label="Perdio materias:"
          [required]="lostSubjectField"
        ></label>
        <p-dropdown
          id="lostSubject"
          formControlName="lostSubject"
          dataKey="id"
          [options]="yesno"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="lostSubjectField.value">
              <div>{{ lostSubjectField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="lostSubjectField.errors"
          [touched]="lostSubjectField.touched"
          [dirty]="lostSubjectField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="academicCareer"
          label="En su trayectoria universitaria ha realizado:"
          [required]="academicCareerField"
        ></label>
        <p-dropdown
          id="academicCareer"
          formControlName="academicCareer"
          dataKey="id"
          [options]="academicCareers"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="academicCareerField.value">
              <div>{{ academicCareerField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="academicCareerField.errors"
          [touched]="academicCareerField.touched"
          [dirty]="academicCareerField.dirty"
        >
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label
          appLabel
          for="anotherTitle"
          label="A:más del bachillerato, tiene otro Titulo"
          [required]="anotherTitleField"
        ></label>
        <p-dropdown
          id="anotherTitle"
          formControlName="anotherTitle"
          dataKey="id"
          [options]="anotherTitles"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="anotherTitleField.value">
              <div>{{ anotherTitleField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="anotherTitleField.errors"
          [touched]="anotherTitleField.touched"
          [dirty]="anotherTitleField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label
          appLabel
          for="anotherCareer"
          label="Estudia otra carrera fuera de la Amawtay Wasi:"
          [required]="anotherCareerField"
        ></label>
        <p-dropdown
          id="anotherCareer"
          formControlName="anotherCareer"
          dataKey="id"
          [options]="anotherCareers"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="anotherCareerField.value">
              <div>{{ anotherCareerField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="anotherCareerField.errors"
          [touched]="anotherCareerField.touched"
          [dirty]="anotherCareerField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label appLabel for="nameInstitution" label="Nombre de la institucion:"
          [required]="nameInstitutionField"></label>
        <input pInputText type="text" id="nameInstitution" formControlName="nameInstitution" />
        <small appErrorMessage [errors]="nameInstitutionField.errors"
          [touched]="nameInstitutionField.touched" [dirty]="nameInstitutionField.dirty">
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label
          appLabel
          for="insitutionType"
          label="Tipo de la Institución:"
          [required]="insitutionTypeField"
        ></label>
        <p-dropdown
          id="insitutionType"
          formControlName="insitutionType"
          dataKey="id"
          [options]="schoolTypes"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="insitutionTypeField.value">
              <div>{{ insitutionTypeField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="insitutionTypeField.errors"
          [touched]="insitutionTypeField.touched"
          [dirty]="insitutionTypeField.dirty"
        >
        </small>
      </div>
    </div>
  </div>
</form>
