<app-skeleton *ngIf="coreService.isLoading" [type]="SkeletonEnum.CARD"></app-skeleton>

<p-messages severity="info">
  <ng-template pTemplate>
    <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" width="32"/>
    <div class="ml-2">Always bet on Prime.</div>
  </ng-template>
</p-messages>

<p-tabView [activeIndex]="activeIndex" class="p-fluid">
  <p-tabPanel header="Ficha Socioeconómica" [disabled]="!(activeIndex===0)">
    <app-socioeconomic-form (nextOut)="next()"></app-socioeconomic-form>
  </p-tabPanel>
  <p-tabPanel header="Reporte Ficha Socioeconómica" [disabled]="!(activeIndex===1)">
    <app-socioeconomic-report (nextOut)="next()" (previousOut)="previous()"></app-socioeconomic-report>
  </p-tabPanel>
  <p-tabPanel header="Solicitud de Matricula" [disabled]="!(activeIndex===2)">
    <app-application (nextOut)="next()" (previousOut)="previous()"></app-application>
  </p-tabPanel>
  <p-tabPanel header="Adjuntar y Enviar Solicitud" [disabled]="!(activeIndex===3)">
    <app-application-attachment (previousOut)="previous()"></app-application-attachment>
  </p-tabPanel>
</p-tabView>
