<app-skeleton *ngIf="coreService.isLoading" [type]="SkeletonEnum.CARD"></app-skeleton>

<div *ngIf="enrollment" class="panel-messages-info">
  <div *ngFor="let item of enrollment.enrollmentStates" class="ml-2">
    Estado Matrícula:
    <p-tag [value]="item.state.name" class="mr-2"></p-tag>
  </div>
</div>

<p-tabView [activeIndex]="activeIndex" class="p-fluid">
  <p-tabPanel header="Ficha Socioeconómica" [disabled]="!(activeIndex===0)">
    <app-socioeconomic-form *ngIf="activeIndex===0" (nextOut)="next()"></app-socioeconomic-form>
  </p-tabPanel>
  <p-tabPanel header="Reporte Ficha Socioeconómica" [disabled]="!(activeIndex===1)">
    <app-socioeconomic-report *ngIf="activeIndex===1" (nextOut)="next()"
                              (previousOut)="previous()"></app-socioeconomic-report>
  </p-tabPanel>
  <p-tabPanel header="Solicitud de Matricula" [disabled]="!(activeIndex===2)">
    <app-application *ngIf="activeIndex===2" (nextOut)="next()" (previousOut)="previous()"></app-application>
  </p-tabPanel>
  <p-tabPanel header="Adjuntar y Enviar Solicitud" [disabled]="!(activeIndex===3)">
    <app-application-attachment *ngIf="activeIndex===3" (previousOut)="previous()"></app-application-attachment>
  </p-tabPanel>
</p-tabView>
