<app-skeleton *ngIf="coreService.isLoading" [type]="SkeletonEnum.CARD"></app-skeleton>

<p-panel *ngIf="!coreService.isLoading" class="p-fluid">
  <ng-template pTemplate="header">
    <app-header-form [id]="id" ></app-header-form>
  </ng-template>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- schoolPeriod, career -->
  <div class="formgrid grid">
    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label appLabel for="schoolPeriod" label="Periodo Escolar:" [required]="schoolPeriodField"></label>
      <p-dropdown id="schoolPeriod" dataKey="id" formControlName="schoolPeriod" [options]="schoolPeriods"
        optionLabel="name" placeholder="Seleccione...">
        <ng-template let-option pTemplate="item">
          <div>{{ option.name }}</div>
        </ng-template>
      </p-dropdown>
      <small appErrorMessage [errors]="schoolPeriodField.errors" [touched]="schoolPeriodField.touched"
        [dirty]="schoolPeriodField.dirty"></small>
    </div>

    <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
      <label appLabel for="career" label="Carrera:" [required]="careerField"></label>
      <p-dropdown id="career" dataKey="id" formControlName="career" [options]="careers" optionLabel="name"
        placeholder="Seleccione...">
        <ng-template let-option pTemplate="item">
          <div>{{ option.name }}</div>
        </ng-template>
      </p-dropdown>
      <small appErrorMessage [errors]="careerField.errors" [touched]="careerField.touched"
        [dirty]="careerField.dirty"></small>
    </div>
  </div>

    <p-divider></p-divider>

    <!-- subject, parallel, teacher -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="subject" label="Asignatura:" [required]="subjectField"></label>
        <p-dropdown id="subject" dataKey="id" formControlName="subject" [options]="subjects" optionLabel="name"
          placeholder="Seleccione..."></p-dropdown>
        <small appErrorMessage [errors]="subjectField.errors" [touched]="subjectField.touched"
          [dirty]="subjectField.dirty"></small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="parallel" label="Paralelo:" [required]="parallelField"></label>
        <p-dropdown id="parallel" dataKey="id" formControlName="parallel" [options]="parallels" optionLabel="name"
          placeholder="Seleccione..."></p-dropdown>
        <small appErrorMessage [errors]="parallelField.errors" [touched]="parallelField.touched"
          [dirty]="parallelField.dirty"></small>
      </div>


    </div>

    <div class="field xl:col-12 lg:col-12 md:col-12 sm:col-12">
      <label appLabel for="teacher" label="Docente:" [required]="teacherField"></label>
      <p-dropdown id="teacher" dataKey="id" formControlName="teacher" [options]="teachers" optionLabel="name"
        [filter]="true" placeholder="Seleccione...">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="teacherField.value">
            <div>{{ teacherField.value.user.name }}</div>
          </div>
        </ng-template>
        <ng-template let-selectedItem pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ selectedItem.user.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <small appErrorMessage [errors]="teacherField.errors" [touched]="teacherField.touched"
        [dirty]="teacherField.dirty"></small>
    </div>

    <!-- workday, hours -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="workday" label="Jornada de trabajo:" [required]="workdayField"></label>
        <p-dropdown id="workday" dataKey="id" formControlName="workday" [options]="workdays" optionLabel="name"
          placeholder="Seleccione..."></p-dropdown>
        <small appErrorMessage [errors]="workdayField.errors" [touched]="workdayField.touched"
          [dirty]="workdayField.dirty"></small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="hours" label="Horas:" [required]="hoursField"></label>
        <input pInputText type="number" id="hours" formControlName="hours" />
        <small appErrorMessage [errors]="hoursField.errors" [touched]="hoursField.touched"
          [dirty]="hoursField.dirty"></small>
      </div>
    </div>

    <!-- Buttons Actions-->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-info p-button-outlined"
          [icon]="PrimeIcons.ARROW_LEFT" [loading]="coreService.isLoading" (click)="back()"></button>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button pButton pRipple type="submit" label="Guardar" [icon]="PrimeIcons.SAVE"
          [loading]="coreService.isLoading"></button>
      </div>
    </div>
  </form>
</p-panel>
