<app-skeleton 
  *ngIf="coreService.isLoading" 
  [type]="SkeletonEnum.CARD"
></app-skeleton>

<p-toolbar *ngIf="!coreService.isLoading">
  <div class="p-toolbar-group-left">
    <app-header-form [id]="id"></app-header-form>
  </div>
  <div class="p-toolbar-group-right">
    <button pButton pRipple type="button"
            (click)="back()"
            [icon]="IconButtonActionEnum.CANCEL"
            [label]="LabelButtonActionEnum.CANCEL"
            [loading]="coreService.isLoading"
            [ngClass]="[ClassButtonActionEnum.CANCEL]"></button>
    <p-divider layout="vertical"></p-divider>
    <button pButton pRipple type="button"
            (click)="onSubmit()"
            [icon]="IconButtonActionEnum.SAVE"
            [label]="LabelButtonActionEnum.SAVE"
            [loading]="coreService.isLoading"
            [ngClass]="[ClassButtonActionEnum.SAVE]"></button>
  </div>
</p-toolbar>

<p-panel *ngIf="!coreService.isLoading" class="p-fluid">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Student-->
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label 
          appLabel 
          for="identification" 
          label="Cédula:" 
          [required]="identificationField"
        >
        </label>
        <input 
          pInputText 
          type="number" 
          id="identification" 
          formControlName="identification" 
        />
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
          <label 
            appLabel 
            for="lastname" 
            label="Apellido:" 
            [required]="lastnameField"
          >
          </label>
          <input 
            pInputText 
            type="text" 
            id="lastname" 
            formControlName="lastname"
          />
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label 
          appLabel 
          for="username" 
          label="Nombre:" 
          [required]="usernameField"
        >
        </label>
        <input 
          pInputText 
          type="text" 
          id="username" 
          formControlName="username"
        />
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label 
          appLabel 
          for="date" 
          label="Fecha de la matricula:" 
          [required]="dateField"
        >
        </label>
        <input 
          pInputText 
          type="text" 
          id="date" 
          formControlName="date"
        />
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label 
          appLabel 
          for="academicPeriod" 
          label="Periodo Acádemico:" 
          [required]="academicPeriodField"
        ></label>
        <p-dropdown 
          id="academicPeriod" 
          dataKey="id"
          formControlName="academicPeriod" 
          [options]="academicPeriods"
          optionLabel="name" 
          placeholder="Seleccione"
        >
        </p-dropdown>
        <small 
          appErrorMessage 
          [errors]="academicPeriodField.errors" 
          [touched]="academicPeriodField.touched"
          [dirty]="academicPeriodField.dirty">
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label 
          appLabel 
          for="type" 
          label="Tipo:" 
          [required]="typeField"
        >
        </label>
        <p-dropdown 
          id="type" 
          formControlName="type" 
          dataKey="id" 
          [options]="types"
          optionLabel="name"
          placeholder="Seleccione"
        >
        </p-dropdown>
        <small 
          appErrorMessage 
          [errors]="typeField.errors" 
          [touched]="typeField.touched"
          [dirty]="typeField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label 
          appLabel 
          for="workday" 
          label="Jornada:" 
          [required]="workdayField"
        >
        </label>
        <p-dropdown 
          id="workday" 
          formControlName="workday" 
          dataKey="id" 
          [options]="workdays"
          optionLabel="name" 
          placeholder="Seleccione"
        >
        </p-dropdown>
        <small 
          appErrorMessage 
          [errors]="workdayField.errors" 
          [touched]="workdayField.touched"
          [dirty]="workdayField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label 
          appLabel 
          for="parallel" 
          label="Paralelo:" 
          [required]="parallelField"
        >
        </label>
        <p-dropdown 
          id="parallel" 
          formControlName="parallel" 
          dataKey="id" 
          [options]="parallels"
          optionLabel="name"
          placeholder="Seleccione"
        >
        </p-dropdown>
        <small 
          appErrorMessage 
          [errors]="parallelField.errors" 
          [touched]="parallelField.touched"
          [dirty]="parallelField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label 
          appLabel 
          for="state" 
          label=" Estado:" 
          [required]="stateField"
        >
        </label>
        <p-dropdown 
          id="state" 
          formControlName="state" 
          dataKey="id" 
          [options]="states" 
          optionLabel="name"
          placeholder="Select"
        >
        </p-dropdown>
        <small 
          appErrorMessage   
          [errors]="stateField.errors" 
          [touched]="stateField.touched" 
          [dirty]="stateField.dirty">
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label 
          appLabel 
          for="folio" 
          label="Número del Portafolio:" 
          [required]="folioField"
        >
        </label>
        <input 
          pInputText 
          type="text" 
          id="folio" 
          formControlName="folio"
        />
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label 
          appLabel 
          for="observation" 
          label="Observación de la Matrícula:" 
          [required]="observationField"
        >
        </label>
        <input 
          pInputText 
          type="text" 
          id="observation" 
          formControlName="observation"
        />
      </div>
    </div>
  </form>
</p-panel>
