<app-skeleton
  *ngIf="coreService.isLoading"
  [type]="SkeletonEnum.CARD"
></app-skeleton>

<p-panel *ngIf="!coreService.isLoading" class="p-fluid">
  <div class="grid">
    <div class="xl:col-6">
      <app-header-form [id]="id"></app-header-form>
    </div>
    <div class="xl:col-6">
      <h3 pTooltip="Malla Curricular">{{ curriculumField.value?.name }}</h3>
    </div>
  </div>
</p-panel>

<p-panel *ngIf="!coreService.isLoading" class="p-fluid">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- state & isVisible -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="state"
          label="Estado:"
          [required]="stateField"
        ></label>
        <p-dropdown
          id="state"
          dataKey="id"
          formControlName="state"
          [options]="states"
          optionLabel="name"
          placeholder="Seleccione"
        >
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="stateField.errors"
          [touched]="stateField.touched"
          [dirty]="stateField.dirty"
        >
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="isVisible"
          label="Visible:"
          [required]="isVisibleField"
        ></label>
        <p><p-inputSwitch
          id="isVisible"
          formControlName="isVisible"
          [trueValue]="true"
        ></p-inputSwitch></p>
        <small
          appErrorMessage
          [errors]="isVisibleField.errors"
          [touched]="isVisibleField.touched"
          [dirty]="isVisibleField.dirty"
        >
        </small>
      </div>
    </div>

    <!-- type & academicPeriod -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="academicPeriod"
          label="Periodo academico:"
          [required]="academicPeriodField"
        ></label>
        <p-dropdown
          id="academicPeriod"
          dataKey="id"
          formControlName="academicPeriod"
          [options]="academicPeriods"
          optionLabel="name"
          placeholder="Seleccione"
        >
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="academicPeriodField.errors"
          [touched]="academicPeriodField.touched"
          [dirty]="academicPeriodField.dirty"
        >
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="type" label="Tipo:" [required]="typeField"></label>
        <p-dropdown
          id="type"
          dataKey="id"
          formControlName="type"
          [options]="types"
          optionLabel="name"
          placeholder="Seleccione"
        >
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="typeField.errors"
          [touched]="typeField.touched"
          [dirty]="typeField.dirty"
        >
        </small>
      </div>
    </div>

    <!-- code & name -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="code"
          label="Codigo:"
          [required]="codeField"
        ></label>
        <input
          pInputText
          type="text"
          id="code"
          formControlName="code"
          minlength="5"
        />
        <small
          appErrorMessage
          [errors]="codeField.errors"
          [touched]="codeField.touched"
          [dirty]="codeField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="name"
          label="Nombre:"
          [required]="nameField"
        ></label>
        <input pInputText type="text" id="name" formControlName="name"/>
        <small
          appErrorMessage
          [errors]="nameField.errors"
          [touched]="nameField.touched"
          [dirty]="nameField.dirty"
        >
        </small>
      </div>
    </div>

    <!-- credits & scale -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="credits"
          label="Créditos:"
          [required]="creditsField"
        ></label>
        <input
          pInputText
          type="text"
          id="credits"
          formControlName="credits"
          pKeyFilter="int"
        />
        <small
          appErrorMessage
          [errors]="creditsField.errors"
          [touched]="creditsField.touched"
          [dirty]="creditsField.dirty"
        >
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="scale"
          label="Escala:"
          [required]="scaleField"
        ></label>
        <input
          pInputText
          pKeyFilter="int"
          type="text"
          id="scale"
          formControlName="scale"
          maxlength="1"
        />
        <small
          appErrorMessage
          [errors]="scaleField.errors"
          [touched]="scaleField.touched"
          [dirty]="scaleField.dirty"
        >
        </small>
      </div>
    </div>

    <!-- teacherHour & practicalHour & autonomousHour  -->
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="teacherHour"
          label="Horas docente:"
          [required]="teacherHourField"
        ></label>
        <input
          pInputText
          pKeyFilter="int"
          type="text"
          id="teacherHour"
          formControlName="teacherHour"
          maxlength="3"
        />
        <small
          appErrorMessage
          [errors]="teacherHourField.errors"
          [touched]="teacherHourField.touched"
          [dirty]="teacherHourField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="practicalHour"
          label="Horas prácticas:"
          [required]="practicalHourField"
        ></label>
        <input
          pInputText
          pKeyFilter="int"
          type="text"
          id="practicalHour"
          formControlName="practicalHour"
          maxlength="3"
        />
        <small
          appErrorMessage
          [errors]="practicalHourField.errors"
          [touched]="practicalHourField.touched"
          [dirty]="practicalHourField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="autonomousHour"
          label="Horas autónomas"
          [required]="autonomousHourField"
        ></label>
        <input
          pInputText
          pKeyFilter="int"
          type="text"
          id="autonomousHour"
          formControlName="autonomousHour"
          maxlength="3"
        />
        <small
          appErrorMessage
          [errors]="autonomousHourField.errors"
          [touched]="autonomousHourField.touched"
          [dirty]="autonomousHourField.dirty"
        >
        </small>
      </div>
    </div>

    <!-- Actions Buttons-->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button
          pButton
          pRipple
          type="button"
          label="Cancelar"
          class="p-button-info p-button-outlined"
          [icon]="PrimeIcons.ARROW_LEFT"
          [loading]="coreService.isLoading"
          (click)="back()"
        ></button>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button
          pButton
          pRipple
          type="submit"
          label="Guardar"
          [icon]="PrimeIcons.SAVE"
          [loading]="coreService.isLoading"
        ></button>
      </div>
    </div>
  </form>
</p-panel>
