<div class="grid">
  <div class="xl:col-12 xl:col-12 lg:col-12 md:col-12 sm:col-12 text-center">
    <h1>
      {{subjectsService.subject.name}} -
      {{subjectsService.subject.academicPeriod.name}} -
      {{subjectsService.subject.type.name}}
    </h1>
  </div>
</div>

<div class="grid">
  <div class="xl:col-6">
    <p-pickList [source]="sourceDataPrequisites"
                [target]="prerequisites"
                sourceHeader="Asignaturas Disponibles"
                targetHeader="Prerequisitos"
                [dragdrop]="true"
                [responsive]="true"
                [sourceStyle]="{ height: '30rem' }"
                [targetStyle]="{ height: '30rem' }"
                filterBy="code,name,academicPeriod.name"
                sourceFilterPlaceholder="Buscar por nombre"
                targetFilterPlaceholder="Buscar por nombre"
                breakpoint="1400px">
      <ng-template let-item pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
          <div class="flex-1 flex flex-column gap-2">
            <span class="font-bold">{{ item.name }}</span>
            <div class="flex align-items-center gap-2">
              <i [ngClass]="[PrimeIcons.BOOK,'text-sm']"></i>
              <span>{{ item.type?.name }}</span>
            </div>
          </div>
          <span class="font-bold text-900">{{ item.academicPeriod?.name }}</span>
        </div>
      </ng-template>
    </p-pickList>
  </div>
  <div class="xl:col-6">
    <p-pickList [source]="sourceDataCorequisites"
                [target]="corequisites"
                sourceHeader="Asignaturas Disponibles"
                targetHeader="Corequisitos"
                [dragdrop]="true"
                [responsive]="true"
                [sourceStyle]="{ height: '30rem' }"
                [targetStyle]="{ height: '30rem' }"
                filterBy="code,name,academicPeriod.name"
                sourceFilterPlaceholder="Buscar por nombre"
                targetFilterPlaceholder="Buscar por nombre"
                breakpoint="1400px">
      <ng-template let-item pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
          <div class="flex-1 flex flex-column gap-2">
            <span class="font-bold">{{ item.name }}</span>
            <div class="flex align-items-center gap-2">
              <i [ngClass]="[PrimeIcons.BOOK,'text-sm']"></i>
              <span>{{ item.type?.name }}</span>
            </div>
          </div>
          <span class="font-bold text-900">{{ item.academicPeriod?.name }}</span>
        </div>
      </ng-template>
    </p-pickList>
  </div>
</div>


