<form [formGroup]="form">
  <div formGroupName="psychosocialSection">
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="isviolence"
          label="Usted alguna vez ha sido victima de violencia de género"
          [required]="isviolenceField"
        ></label>
        <p-dropdown
          id="isviolence"
          formControlName="isviolence"
          dataKey="id"
          [options]="yesno"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isviolenceField.value">
              <div>{{ isviolenceField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isviolenceField.errors"
          [touched]="isviolenceField.touched"
          [dirty]="isviolenceField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="violenceType"
          label="En caso de ser afirmativa su respuesta especifique que tipo de violencia"
          [required]="violenceTypeField"
        ></label>
        <p-dropdown
          id="violenceType"
          formControlName="violenceType"
          dataKey="id"
          [options]="violenceTypes"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="violenceTypeField.value">
              <div>{{ violenceTypeField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="violenceTypeField.errors"
          [touched]="violenceTypeField.touched"
          [dirty]="violenceTypeField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="covid"
          label="¿Qué efectos psicosociales le dejo la pandemia (COVID-10)?"
          [required]="covidField"
        ></label>
        <p-dropdown
          id="covid"
          formControlName="covid"
          dataKey="id"
          [options]="covids"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="covidField.value">
              <div>{{ covidField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="covidField.errors"
          [touched]="covidField.touched"
          [dirty]="covidField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="suiced"
          label="Alguna vez ha tenido pensamientos ó ha intentado hacerse daño o si mismo"
          [required]="suicedField"
        ></label>
        <p-dropdown
          id="suiced"
          formControlName="suiced"
          dataKey="id"
          [options]="yesno"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="suicedField.value">
              <div>{{ suicedField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <!-- <small
          suicedField
          [errors]="suicedField.errors"
          [touched]="suicedField.touched"
          [dirty]="suicedField.dirty"
        >
        </small> -->
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="discrimination"
          label="Alguna vez ha sido usted objeto de discriminación"
          [required]="discriminationField"
        ></label>
        <p-dropdown
          id="discrimination"
          formControlName="discrimination"
          dataKey="id"
          [options]="yesno"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="discriminationField.value">
              <div>{{ discriminationField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="discriminationField.errors"
          [touched]="discriminationField.touched"
          [dirty]="discriminationField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="isDiscrimination"
          label="En caso de haber sido objeto de discriminación cual es el motivo:"
          [required]="isDiscriminationField"
        ></label>
        <p-dropdown
          id="isDiscrimination"
          formControlName="isDiscrimination"
          dataKey="id"
          [options]="discriminationType"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="isDiscriminationField.value">
              <div>{{ isDiscriminationField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="isDiscriminationField.errors"
          [touched]="isDiscriminationField.touched"
          [dirty]="isDiscriminationField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="selfHarm"
          label="¿Alguna vez usted se ha producido autólesiones?"
          [required]="selfHarmField"
        ></label>
        <p-dropdown
          id="selfHarm"
          formControlName="selfHarm"
          dataKey="id"
          [options]="yesno"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="selfHarmField.value">
              <div>{{ selfHarmField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="selfHarmField.errors"
          [touched]="selfHarmField.touched"
          [dirty]="selfHarmField.dirty"
        >
        </small>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="selfHarmType"
          label="En caso de haber contestado de forma afirmativa a la pregunta anterior, mencione que tipo de autólesiones"
          [required]="selfHarmTypeField"
        ></label>
        <p-dropdown
          id="selfHarmType"
          formControlName="selfHarmType"
          dataKey="id"
          [options]="selfHarmTypes"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="selfHarmTypeField.value">
              <div>{{ selfHarmTypeField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="selfHarmTypeField.errors"
          [touched]="selfHarmTypeField.touched"
          [dirty]="selfHarmTypeField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label
          appLabel
          for="urbanType"
          label="A que tribu urbana o grupo social pertenece:"
          [required]="urbanTypeField"
        ></label>
        <p-dropdown
          id="urbanType"
          formControlName="urbanType"
          dataKey="id"
          [options]="urbanTypes"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          placeholder="Select"
        >
          <ng-template pTemplate="selectedItem">
            <div *ngIf="urbanTypeField.value">
              <div>{{ urbanTypeField.value.name }}</div>
            </div>
          </ng-template>
          <ng-template pTemplate="item" let-item>
            {{ item.name }}
          </ng-template>
        </p-dropdown>
        <small
          appErrorMessage
          [errors]="urbanTypeField.errors"
          [touched]="urbanTypeField.touched"
          [dirty]="urbanTypeField.dirty"
        >
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label
          appLabel
          for="additionalData"
          label="Informacion adicional de estudiante:"
          [required]="additionalDataField"
        ></label>
        <input
          pInputText
          id="additionalData"
          formControlName="additionalData"
        />
        <small
          appErrorMessage
          [errors]="additionalDataField.errors"
          [touched]="additionalDataField.touched"
          [dirty]="additionalDataField.dirty"
        >
        </small>
      </div>
    </div>
  </div>
</form>
