<div *ngIf="enrollment" class="panel-messages-info">
  Estado Matrícula:
  <span *ngFor="let item of enrollment.enrollmentStates" class="ml-2">
    <p-tag [value]="item.state.name" [severity]="item.state.code|enrollmentState" class="mr-2"></p-tag>
    <p-tag
      *ngIf="item.state.code===CatalogueEnrollmentStateEnum.REQUEST_SENT"
      class="mt-2"
      value="En este momento no puede realizar modificaciones"
      severity="warning"></p-tag>
  </span>
</div>

<p-tabView *ngIf="enabled" [activeIndex]="activeIndex" class="p-fluid">
  <p-tabPanel header="Ficha Socioeconómica" [disabled]="!(activeIndex===0)">
    <app-socioeconomic-form *ngIf="activeIndex===0" (nextOut)="next()"></app-socioeconomic-form>
  </p-tabPanel>

  <p-tabPanel header="Reporte Ficha Socioeconómica" [disabled]="!(activeIndex===1)">
    <app-socioeconomic-report *ngIf="activeIndex===1" (nextOut)="next()"
                              (previousOut)="previous()"></app-socioeconomic-report>
  </p-tabPanel>

  <p-tabPanel header="Solicitud de Matricula" [disabled]="!(activeIndex===2)">
    <app-application *ngIf="activeIndex===2" (nextOut)="next()" (previousOut)="previous()"></app-application>
  </p-tabPanel>

  <p-tabPanel header="Reporte Solicitud de Matricula" [disabled]="!(activeIndex===3)">
    <app-application-report *ngIf="activeIndex===3" (nextOut)="next()"
                            (previousOut)="previous()"></app-application-report>
  </p-tabPanel>

  <p-tabPanel header="Adjuntar y Enviar Solicitud" [disabled]="!(activeIndex===3)">
    <app-application-attachment *ngIf="activeIndex===4" (previousOut)="previous()"></app-application-attachment>
  </p-tabPanel>
</p-tabView>

<div *ngIf="!enabled" class="grid formgrid">
  <div class="xl:col-12 panel-messages-info text-center">
    <h1>El proceso de matrículas ha terminado</h1>
  </div>
  <img class="xl:col-10 col-offset-1" src="assets/images/components/enrollments/final-screen.png" alt="">
</div>
