<app-skeleton *ngIf="coreService.isLoading" [type]="SkeletonEnum.CARD"></app-skeleton>

<p-toolbar *ngIf="!coreService.isLoading">
  <div class="p-toolbar-group-left">
    <app-header-form [id]="id"></app-header-form>
  </div>
  <div class="p-toolbar-group-right">
    <button pButton pRipple type="button"
            (click)="back()"
            [icon]="IconButtonActionEnum.CANCEL"
            [label]="LabelButtonActionEnum.CANCEL"
            [loading]="coreService.isLoading"
            [ngClass]="[ClassButtonActionEnum.CANCEL]"></button>
    <p-divider layout="vertical"></p-divider>
    <button pButton pRipple type="button"
            (click)="onSubmit()"
            [icon]="IconButtonActionEnum.SAVE"
            [label]="LabelButtonActionEnum.SAVE"
            [loading]="coreService.isLoading"
            [ngClass]="[ClassButtonActionEnum.SAVE]"></button>
  </div>
</p-toolbar>

<p-panel *ngIf="!coreService.isLoading" class="p-fluid">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- denomination & name & shortName -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="name" label="Nombre Completo:" [required]="nameField"></label>
        <input pInputText type="text" id="name" formControlName="name"/>
        <small appErrorMessage
               [errors]="nameField.errors"
               [touched]="nameField.touched"
               [dirty]="nameField.dirty">
        </small>
      </div>

      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label appLabel for="denomination" label="Denominación:" [required]="denominationField"></label>
        <app-help-field (mouseenter)="opDenominationField.toggle($event)" (mouseleave)="opDenominationField.hide()"></app-help-field>
        <input pInputText type="text" id="denomination" formControlName="denomination"/>
        <small appErrorMessage
               [errors]="denominationField.errors"
               [touched]="denominationField.touched"
               [dirty]="denominationField.dirty">
        </small>
      </div>

      <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
        <label appLabel for="shortName" label="Nombre corto:" [required]="shortNameField"></label>
        <input pInputText type="text" id="shortName" formControlName="shortName"/>
        <small appErrorMessage
               [errors]="shortNameField.errors"
               [touched]="shortNameField.touched"
               [dirty]="shortNameField.dirty">
        </small>
      </div>
    </div>

    <!-- logo & state & isVisible -->
    <div class="formgrid grid">
      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="logo" label="Logo:" [required]="logoField"></label>
        <input pInputText type="text" id="logo" formControlName="logo"/>
        <small appErrorMessage
               [errors]="logoField.errors"
               [touched]="logoField.touched"
               [dirty]="logoField.dirty">
        </small>
      </div>

      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="state" label="Estado:" [required]="stateField"></label>
        <p-dropdown id="state"
                    dataKey="id"
                    formControlName="state"
                    [options]="states"
                    optionLabel="name"
                    placeholder="Seleccione">
        </p-dropdown>
        <small appErrorMessage
               [errors]="stateField.errors"
               [touched]="stateField.touched"
               [dirty]="stateField.dirty">
        </small>
      </div>

      <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
        <label appLabel for="isVisible" label="Visible:"
               [required]="isVisibleField"></label>
        <p><p-inputSwitch id="isVisible" formControlName="isVisible" [trueValue]="true"></p-inputSwitch></p>
        <small appErrorMessage
               [errors]="isVisibleField.errors"
               [touched]="isVisibleField.touched"
               [dirty]="isVisibleField.dirty">
        </small>
      </div>
    </div>

    <!-- code & codeSniese & acronym & slogan -->
    <div class="formgrid grid">
      <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
        <label appLabel for="code" label="Código:" [required]="codeField"></label>
        <input pInputText type="text" id="code" formControlName="code"/>
        <small appErrorMessage [errors]="codeField.errors" [touched]="codeField.touched" [dirty]="codeField.dirty">
        </small>
      </div>

      <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
        <label appLabel for="codeSniese" label="Código SNIESE:" [required]="codeSnieseField"></label>
        <input pInputText type="text" id="codeSniese" formControlName="codeSniese"/>
        <small appErrorMessage
               [errors]="codeSnieseField.errors"
               [touched]="codeSnieseField.touched"
               [dirty]="codeSnieseField.dirty">
        </small>
      </div>

      <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
        <label appLabel for="acronym" label="Siglas:" [required]="acronymField"></label>
        <input pInputText type="text" id="acronym" formControlName="acronym"/>
        <small appErrorMessage
               [errors]="acronymField.errors"
               [touched]="acronymField.touched"
               [dirty]="acronymField.dirty">
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="slogan" label="Slogan:" [required]="sloganField"></label>
        <input pInputText type="text" id="slogan" formControlName="slogan"/>
        <small appErrorMessage
               [errors]="sloganField.errors"
               [touched]="sloganField.touched"
               [dirty]="sloganField.dirty">
        </small>
      </div>
    </div>

    <!-- cellphone & phone & email & web -->
    <div class="formgrid grid">

      <div class="field xl:col-3 lg:col-3 md:col-4 sm:col-12">
        <label appLabel for="cellphone" label="Teléfono celular:" [required]="cellphoneField"></label>
        <input pInputText type="text" id="cellphone" formControlName="cellphone" placeholder="0987654321"/>
        <small appErrorMessage
               [errors]="cellphoneField.errors"
               [touched]="cellphoneField.touched"
               [dirty]="cellphoneField.dirty">
        </small>
      </div>

      <div class="field xl:col-3 lg:col-3 md:col-4 sm:col-12">
        <label appLabel for="phone" label="Teléfono fijo:" [required]="phoneField"></label>
        <app-help-field (mouseenter)="opPhoneField.toggle($event)" (mouseleave)="opPhoneField.hide()"></app-help-field>
        <input pInputText type="text" id="phone" formControlName="phone" placeholder="023456789"/>
        <small appErrorMessage
               [errors]="phoneField.errors"
               [touched]="phoneField.touched"
               [dirty]="phoneField.dirty">
        </small>
      </div>

      <div class="field xl:col-3 lg:col-3 md:col-4 sm:col-12">
        <label appLabel for="email" label="Correo electrónico:" [required]="emailField"></label>
        <input pInputText type="email" id="email" formControlName="email" placeholder="micorreo@gmail.com"/>
        <small appErrorMessage
               [errors]="emailField.errors"
               [touched]="emailField.touched"
               [dirty]="emailField.dirty">
        </small>
      </div>

      <div class="field xl:col-3 lg:col-3 md:col-4 sm:col-12">
        <label appLabel for="web" label="Página web:" [required]="webField"></label>
        <app-help-field (mouseenter)="opWebField.toggle($event)" (mouseleave)="opWebField.hide()"></app-help-field>
        <input pInputText type="text" id="web" formControlName="web"/>
        <small appErrorMessage
               [errors]="sloganField.errors"
               [touched]="sloganField.touched"
               [dirty]="sloganField.dirty">
        </small>
      </div>
    </div>
  </form>
</p-panel>

<p-overlayPanel #opWebField>
  <ng-template pTemplate="content">
    <h3>Ejemplos:</h3>
    <p-divider></p-divider>
    <ul>
      <li>https://midominio.com</li>
    </ul>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #opDenominationField>
  <ng-template pTemplate="content">
    <h3>Ejemplos:</h3>
    <p-divider></p-divider>
    <ul>
      <li>Universidad</li>
      <li>Escuela Politécnica</li>
      <li>Instituto Superior Tecnológico</li>
    </ul>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #opPhoneField>
  <ng-template pTemplate="content">
    <p>Incluir código provincial</p>
  </ng-template>
</p-overlayPanel>
