<div class="login-page">
  <div class="login-form">
    <div class="p-fluid panel-auth">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field text-center">
          <h1>Recuperar Contraseña</h1>
          <img src="assets/images/logo/logo-sm.png" alt="">
          <h2>{{authService.system}}</h2>
        </div>

        <div class="field">
          <label for="username" appLabel label="Usuario:" [required]="usernameField"></label>
          <input pInputText id="username" formControlName="username">
          <small appErrorMessage
                 [errors]="usernameField.errors"
                 [touched]="usernameField.touched"
                 [dirty]="usernameField.dirty">
          </small>
        </div>

        <div *ngIf="!isValidTransactionalCode" class="field">
          <button type="button" pButton pRipple label="Solicitar Código"
                  class="p-button-info"
                  [icon]="PrimeIcons.SEND"
                  [disabled]="!usernameField.valid"
                  (click)="requestTransactionalCode()"></button>
        </div>

        <div *ngIf="isRequestTransactionalCode && !isValidTransactionalCode" class="field">
          <label for="transactionalCode" appLabel label="Ingrese el código enviado a su correo:"
                 [required]="transactionalCodeField"></label>
          <input pInputText id="transactionalCode" formControlName="transactionalCode">
          <small appErrorMessage
                 [errors]="transactionalCodeField.errors"
                 [touched]="transactionalCodeField.touched"
                 [dirty]="transactionalCodeField.dirty">
          </small>
        </div>

        <div *ngIf="isRequestTransactionalCode && !isValidTransactionalCode" class="field">
          <button type="button" pButton pRipple
                  class="p-button-success"
                  label="Validar Código"
                  [icon]="PrimeIcons.VERIFIED"
                  [disabled]="!isRequestTransactionalCode || !transactionalCodeField.valid"
                  (click)="verifyTransactionalCode()"></button>
        </div>

        <div *ngIf="isValidTransactionalCode" class="formgrid grid">
          <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
            <label for="newPassword" appLabel label="Nueva contraseña:" [required]="newPasswordField"></label>
            <p-password id="newPassword" formControlName="newPassword" [feedback]="false"></p-password>
            <small appErrorMessage
                   [errors]="newPasswordField.errors"
                   [touched]="newPasswordField.touched"
                   [dirty]="newPasswordField.dirty">
            </small>
          </div>

          <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
            <label for="passwordConfirmation" appLabel label="Repita la contraseña:"
                   [required]="passwordConfirmationField"></label>
            <p-password id="passwordConfirmation" formControlName="passwordConfirmation"
                        [feedback]="false"></p-password>
            <small appErrorMessage
                   [errors]="passwordConfirmationField.errors"
                   [touched]="passwordConfirmationField.touched"
                   [dirty]="passwordConfirmationField.dirty">
            </small>
          </div>
        </div>

        <div *ngIf="isValidTransactionalCode" class="field">
          <button type="button" pButton pRipple
                  class=""
                  label="Resetear Contraseña"
                  [icon]="PrimeIcons.KEY  "
                  (click)="resetPassword()"></button>
        </div>

        <div *ngIf="coreService.isLoading" class="field">
          <app-progress-bar></app-progress-bar>
        </div>
      </form>
    </div>
  </div>
</div>

