<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" label="Crear"
            class="p-button-success mr-2"
            [icon]="PrimeIcons.PLUS"
            (click)="redirectCreateForm()"></button>
    <button pButton type="button" label="Refrescar"
            class="p-button-info mr-2"
            [icon]="PrimeIcons.REFRESH"
            [loading]="coreService.isLoading"
            (click)="findAll()"></button>
    <button *ngIf="selectedUsers.length>0" pButton type="button" label="Eliminar Usuarios"
            class="p-button-danger"
            [icon]="PrimeIcons.TRASH"
            [loading]="coreService.isLoading"
            (click)="removeAll()"></button>
  </div>
  <div class="p-toolbar-group-right">
    <div class="p-inputgroup">
      <input type="text" pInputText [formControl]="search" placeholder="Buscar...">
      <button type="button" pButton pRipple
              [class]="PrimeIcons.SEARCH"
              [loading]="coreService.isLoading"
              (click)="findAll()"></button>
    </div>
  </div>
</p-toolbar>

<p-paginator
  [rows]="paginator.limit"
  [totalRecords]="paginator.totalItems"
  (onPageChange)="paginate($event)"></p-paginator>

<p-table
  dataKey="id"
  styleClass="p-datatable-striped"
  [value]="users"
  [columns]="columns"
  [loading]="coreService.isLoading"
  [(selection)]="selectedUsers">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th class="text-center">
        Acciones
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <div *ngIf="rowData['id']!==authService.auth.id; then thenBlockCheckbox else elseBlockCheckbox">
      </div>
      <ng-template #thenBlockCheckbox>
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
      </ng-template>
      <ng-template #elseBlockCheckbox>
        <td>
        </td>
      </ng-template>
      <td *ngFor="let col of columns">
        <!--Objects-->
        <div *ngIf="rowData[col.field]?.id" [ngSwitch]="col.field">
          <div *ngSwitchCase="'object'">
            {{rowData[col.field].name}}
          </div>
        </div>
        <!--Fields-->
        <div *ngIf="!rowData[col.field]?.id" [ngSwitch]="col.field">
          <div *ngSwitchCase="'roles'">
            <p-tag *ngFor="let role of rowData[col.field]" severity="info" [value]="role.name" class="mr-1"></p-tag>
          </div>
          <div *ngSwitchCase="'suspendedAt'">
            <p-tag
              [value]="rowData['suspendedAt']?'Suspended':'Active'"
              [pTooltip]="rowData['maxAttempts']===0?messageService.exceededMaxAttempts:''"
              [severity]="rowData | userState"></p-tag>
          </div>
          <div *ngSwitchCase="'updatedAt'">{{rowData[col.field]|date}}</div>
          <div *ngSwitchDefault>{{rowData[col.field]}}</div>
        </div>
      </td>
      <td class="text-center">
        <div *ngIf="rowData['id']!==authService.auth.id; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <button type="button" pButton [icon]="PrimeIcons.ELLIPSIS_V" (click)="selectUser(rowData)"></button>
        </ng-template>
        <ng-template #elseBlock>Usuario Actual</ng-template>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        {{messageService.paginatorNoRecordsFound}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    {{messageService.paginatorTotalRegisters(paginator.totalItems)}}
  </ng-template>
</p-table>

<p-sidebar [(visible)]="isButtonActions" position="right">
  <p-panelMenu [model]="buttonActions" [style]="{'width':'300px'}" (click)="isButtonActions=false"></p-panelMenu>
</p-sidebar>
