<app-skeleton *ngIf="coreService.isLoading" [type]="SkeletonEnum.CARD"></app-skeleton>

<p-panel *ngIf="!coreService.isLoading" class="p-fluid">
  <ng-template pTemplate="header">
    <app-header-form [id]="id"></app-header-form>
  </ng-template>

  <p-divider></p-divider>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="formgrid grid">
      <!-- state & isVisible -->
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="state" label="Estado:" [required]="stateField"></label>
        <p-dropdown id="state"
                    dataKey="id"
                    formControlName="state"
                    [options]="states"
                    optionLabel="name"
                    placeholder="Seleccione">
        </p-dropdown>
        <small appErrorMessage
               [errors]="stateField.errors"
               [touched]="stateField.touched"
               [dirty]="stateField.dirty">
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="isVisible" label="Visible:" [required]="isVisibleField"></label>
        <p-inputSwitch id="isVisible" formControlName="isVisible" [trueValue]="true"></p-inputSwitch>
        <small appErrorMessage
               [errors]="isVisibleField.errors"
               [touched]="isVisibleField.touched"
               [dirty]="isVisibleField.dirty">
        </small>
      </div>
    </div>

    <!-- code & codeSniese -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="code" label="Código:" [required]="codeField"></label>
        <input pInputText type="text" id="code" formControlName="code"/>
        <small appErrorMessage
               [errors]="codeField.errors"
               [touched]="codeField.touched"
               [dirty]="codeField.dirty">
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="codeSniese" label="Código SNIESE:" [required]="codeSnieseField"></label>
        <input pInputText type="text" id="codeSniese" formControlName="codeSniese"/>
        <small appErrorMessage
               [errors]="codeSnieseField.errors"
               [touched]="codeSnieseField.touched"
               [dirty]="codeSnieseField.dirty">
        </small>
      </div>
    </div>

    <!-- name & shortName -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="name" label="Nombre:" [required]="nameField"></label>
        <input pInputText type="text" id="name" formControlName="name"/>
        <small appErrorMessage
               [errors]="nameField.errors"
               [touched]="nameField.touched"
               [dirty]="nameField.dirty">
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="shortName" label="Nombre corto:" [required]="shortNameField"></label>
        <input pInputText type="text" id="shortName" formControlName="shortName"/>
        <small appErrorMessage
               [errors]="shortNameField.errors"
               [touched]="shortNameField.touched"
               [dirty]="shortNameField.dirty">
        </small>
      </div>
    </div>

    <!-- startedAt & endedAt -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="startedAt" label="Fecha Inicio:"
               [required]="startedAtField"></label>
        <p-calendar id="startedAt"
                    formControlName="startedAt"
                    dateFormat="yy-mm-dd"
                    [showButtonBar]="true"
                    [firstDayOfWeek]="1">
        </p-calendar>
        <small appErrorMessage
               [errors]="startedAtField.errors"
               [touched]="startedAtField.touched"
               [dirty]="startedAtField.dirty">
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="endedAt" label="Fecha Fin:" [required]="endedAtField"></label>
        <p-calendar id="endedAt"
                    formControlName="endedAt"
                    dateFormat="yy-mm-dd"
                    [minDate]="startedAt"
                    [showButtonBar]="true"
                    [firstDayOfWeek]="1">
        </p-calendar>
        <small appErrorMessage
               [errors]="endedAtField.errors"
               [touched]="endedAtField.touched"
               [dirty]="endedAtField.dirty">
        </small>
      </div>
    </div>

    <!-- ordinaryStartedAt & ordinaryEndedAt -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="ordinaryStartedAt" label="Fecha Inicio Ordinaria:"
               [required]="ordinaryStartedAtField"></label>
        <p-calendar id="ordinaryStartedAt"
                    formControlName="ordinaryStartedAt"
                    dateFormat="yy-mm-dd"
                    [showButtonBar]="true"
                    [firstDayOfWeek]="1">
        </p-calendar>
        <small appErrorMessage
               [errors]="ordinaryStartedAtField.errors"
               [touched]="ordinaryStartedAtField.touched"
               [dirty]="ordinaryStartedAtField.dirty">
        </small>
      </div>
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="ordinaryEndedAt" label="Fecha Fin Ordinaria:" [required]="ordinaryEndedAtField"></label>
        <p-calendar id="ordinaryEndedAt"
                    formControlName="ordinaryEndedAt"
                    dateFormat="yy-mm-dd"
                    [minDate]="ordinaryStartedAt"
                    [showButtonBar]="true"
                    [firstDayOfWeek]="1">
        </p-calendar>
        <small appErrorMessage
               [errors]="ordinaryEndedAtField.errors"
               [touched]="ordinaryEndedAtField.touched"
               [dirty]="ordinaryEndedAtField.dirty">
        </small>
      </div>
    </div>

    <!-- extraOrdinaryStartedAt & extraOrdinaryEndedAt -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="extraOrdinaryStartedAt" label="Fecha Inicio Extraordinaria:"
               [required]="extraOrdinaryStartedAtField"></label>
        <p-calendar id="extraOrdinaryStartedAt"
                    formControlName="extraOrdinaryStartedAt"
                    dateFormat="yy-mm-dd"
                    [showButtonBar]="true"
                    [firstDayOfWeek]="1">
        </p-calendar>
        <small appErrorMessage
               [errors]="extraOrdinaryStartedAtField.errors"
               [touched]="extraOrdinaryStartedAtField.touched"
               [dirty]="extraOrdinaryStartedAtField.dirty">
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="extraOrdinaryEndedAt" label="Fecha Fin Extraordinaria:"
               [required]="extraOrdinaryEndedAtField"></label>
        <p-calendar id="extraOrdinaryEndedAt"
                    formControlName="extraOrdinaryEndedAt"
                    dateFormat="yy-mm-dd"
                    [minDate]="extraOrdinaryStartedAt"
                    [showButtonBar]="true"
                    [firstDayOfWeek]="1">
        </p-calendar>
        <small appErrorMessage
               [errors]="extraOrdinaryEndedAtField.errors"
               [touched]="extraOrdinaryEndedAtField.touched"
               [dirty]="extraOrdinaryEndedAtField.dirty">
        </small>
      </div>
    </div>

    <!-- especialStartedAt & especialEndedAt -->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="especialStartedAt" label="Fecha Inicio Especial:"
               [required]="especialStartedAtField"></label>
        <p-calendar id="especialStartedAt"
                    formControlName="especialStartedAt"
                    dateFormat="yy-mm-dd"
                    [showButtonBar]="true"
                    [firstDayOfWeek]="1">
        </p-calendar>
        <small appErrorMessage
               [errors]="especialStartedAtField.errors"
               [touched]="especialStartedAtField.touched"
               [dirty]="especialStartedAtField.dirty">
        </small>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <label appLabel for="especialEndedAt" label="Fecha Fin Especial:" [required]="especialEndedAtField"></label>
        <p-calendar id="especialEndedAt"
                    formControlName="especialEndedAt"
                    dateFormat="yy-mm-dd"
                    [minDate]="especialStartedAt"
                    [showButtonBar]="true"
                    [firstDayOfWeek]="1">
        </p-calendar>
        <small appErrorMessage
               [errors]="especialEndedAtField.errors"
               [touched]="especialEndedAtField.touched"
               [dirty]="especialEndedAtField.dirty">
        </small>
      </div>
    </div>

    <!-- Buttons Actions-->
    <div class="formgrid grid">
      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button pButton pRipple type="button"
                label="Cancelar"
                class="p-button-info p-button-outlined"
                [icon]="PrimeIcons.ARROW_LEFT"
                [loading]="coreService.isLoading"
                (click)="back()"></button>
      </div>

      <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
        <button pButton pRipple type="submit"
                label="Guardar"
                [icon]="PrimeIcons.SAVE"
                [loading]="coreService.isLoading"></button>
      </div>
    </div>
  </form>
</p-panel>
