<div class="container text-center">
    <div class="grid">
      <div class="col-6">
        <div  class="text-center"style="margin: 0px 0px 0px 200px">
          <img src="assets/images/components/core/common/error-503-1.avif"  alt="Servicio Inhabilitado" width="500px" height="500px">
        </div>
      </div>
      <div class="col-6">
        <div class="text-center" style="margin: 130px 140px 0px 0px">
          <h1 class="text-danger" style="color:#3b82f6 ; font-size: 50px;">503 ¡El Sistema se Encuentra en Mantenimiento!</h1>
          <br>
          <small class="text-secondary" style="font-size: 20px">¡Lamentamos las molestias causadas!</small>
        </div>
      </div>  
    </div> 
  </div>
  
