<div class="grid">
  <div class="xl:col-12 lg:col-12 md:col-12 sm:col-12">
    <div class="text-center">
      <div>
        <h1 class="text-danger" style="color:#FFC800 ; font-size: 70px;">¡Servicio no disponible!</h1>
        <small class="text-secondary" style="font-size: 20px">¡Lamentamos las molestias causadas!</small>
      </div>
      <img src="assets/images/components/common/503.svg" alt="503" width="400">
    </div>
  </div>
</div>

<div class="grid">
  <div class="xl:col-12 lg:col-12 md:col-12 sm:col-12">
    <div class="text-center">
      <div style="color:#004b55">
        <h1 class="text-danger">Mantenimiento programado</h1>
        <h3 class="text-danger">
          Por motivo de mantenimiento de servidores, la plataforma se encotrará fuera de servicio</h3>
        <b style="color:#FFC800; font-size: 30px">¡Volvemos el {{coreService.serviceUnavailable.startedAt | date:'fullDate'}}!</b>
      </div>
    </div>
  </div>
</div>
